/* Banner */
.banners {
  padding: 24px 0 30px;
}
.banner__item {
  margin: 0;

  &::before {
    content: none !important;
  }
}

/* Catalog */
.catalog_block {
  .counter_wrapp {
    padding: 0 36px 36px;

    > .counter_block {
      display: none;
    }

    > div {
      width: 100%;

      .btn {
        padding: 11px 22px;
        font-size: 18px;
        text-transform: none;
        border-radius: 2px;

        .svg {
          top: 0;
          width: 1em;
          height: 1em;
          margin-right: 12px;
          font-size: 20px;
          background: none !important;

          svg {
            display: block !important;
            color: $white;
            fill: currentColor;

            * {
              fill: currentColor !important;
            }
          }
        }
      }
    }
  }

  .catalog_item > div {
    box-shadow: inset 0 0 0 1px #e0e0e0;
  }
}

body .wrapper1.front_page .top_block a {
  @include max-width(550px) {
    position: relative;
    top: 0 !important;
    width: auto;
    max-width: none;
    height: auto;
    margin-top: 12px;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    background: none;
    opacity: 1;
    transform: none;
  }
}

.tab_slider_wrapp .top_block {
  align-items: center;
  margin-bottom: 48px;
}

.tab_slider_wrapp .top_block .right_block_wrapper {
  display: flex;
  align-items: flex-start;

  @include max-width(550px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.wrapper1:not(.with_left_block) .wrapper_inner.front .drag-block.container .tab_slider_wrapp {
  padding-bottom: 80px;
}

.wrapper_inner .specials_slider_wrapp ul.tabs > li span,
.wrapper_inner .tab_slider_wrapp ul.tabs > li span {
  @include max-width(450px) {
    padding-bottom: 2px;
    font-size: 14px;
  }
}

.compact-catalog .ajax_load.block .catalog_item {
  .footer_button {
    @include max-width(600px) {
      display: none !important;
    }
  }

  > div {
    @include max-width(600px) {
      padding: 8px 12px 16px;
    }

    @include max-width(400px) {
      padding: 8px 12px 16px;
    }

    .item_info {
      @include max-width(600px) {
        padding-bottom: 0;
      }

      .cost.prices .price {
        &:not(.discount) {
          @include max-width(600px) {
            font-size: 16px;
          }
        }

        &.discount {
          @include max-width(600px) {
            font-size: 12px;
          }
        }
      }
    }
  }
}

.cost.prices {
  position: static;

  .value {
    position: absolute;
    top: 16px;
    left: 16px;
    padding: 8px;
    margin: 0;
    font-size: 16px;
    border-radius: 2px;

    @include max-width($phone) {
      top: 8px;
      left: 12px;
      padding: 4px 3px;
      font-size: 12px;
    }
  }
}

/* previously watched */
.block-item__myfooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 8px;

  .block-item__cost.cost.prices {
    .price.only_price {
      margin-top: 0;
    }
  }

  .font_sm {
    font-size: 16px;
    line-height: 1.5;
  }

  .button {
    min-width: auto;
    padding: 7px 15px;
    margin: 0 0 0 10px;
    font-size: 24px;
    color: $white;
    cursor: pointer;
    background-color: $black-2;
    border-color: $black-2;
    border-radius: 2px;

    @include min-width(901px) {
      opacity: 0;
    }

    &:hover {
      color: $black-2;
      background-color: transparent;
      border-color: $black-2;
    }

    .svg {
      top: 0;
      display: block;
      width: 1em;
      height: 1em;
      fill: currentColor;
    }
  }
}

.item_wrap {
  &:hover {
    .block-item__myfooter {
      .button {
        opacity: 1;
      }
    }
  }
}

.viewed_product_block {
  border-bottom: none;
}

.block-items.flexbox.block-items--margined {
  .block-item__wrapper {
    padding: 12px;

    .flexbox--row {
      justify-content: space-between;
    }
  }
}

.owl-theme .owl-nav {
  .owl-prev,
  .owl-next {
    box-shadow: 0 0 12px rgba($black, 0.15);

    svg {
      color: currentColor;

      * {
        fill: currentColor !important;
      }
    }
  }

  .disabled {
    opacity: 1;

    svg {
      * {
        fill: currentColor !important;
      }
    }
  }
}

/* Brands */
.drag-block.BRANDS {
  .maxwidth-theme {
    padding-bottom: 0 !important;

    .with-text-block-wrapper {
      .row {
        .col-md-12 {
          padding-bottom: 0 !important;
        }
      }
    }
  }
}

/* basket */
#main .basket_hover_block .cart-empty .cart-empty__info .btn {
  margin: 23px 0 0;
}

body #basket-root *,
#content #bx-soa-order-form * {
  font-family: $sans !important;
}

/* Aspro popup */
@include max-width(600px) {
  .popup .form .form_head {
    padding: 20px;
  }

  .popup .form .form_body {
    padding: 20px;
    padding-bottom: 0;
  }
  .pk-page .form-control {
    margin: 0 auto 20px;
  }

  .popup .form .form_footer {
    padding: 20px;
    margin: 0;
  }

  .popup .pk-page .form .form_footer {
    margin: 0;
  }
  .auth_frame {
    min-width: 320px;
    max-width: 100%;
  }

  .auth-page .buttons {
    margin-top: 15px;
  }

  .popup {
    min-width: 320px;
    max-width: 100%;
  }
}

body .rounded3 {
  border-radius: 0;
}

/* PageTitle */
#pagetitle {
  font-family: $corm-garamond;
}

/* Block earlier */
.block-item__title a {
  font-size: 16px;
  line-height: 24px;
  color: $gray-dark;
}

.dark-color:not(.active) {
  color: $gray-dark;
}

/* owl */
.viewed_product_block .viewed-wrapper {
  padding: 96px 0 56px 0;
  overflow: hidden;

  @include max-width(1200px) {
    padding: 40px 0 0 0;
  }
}

/* faq */
.faq {
  .container {
    padding: 0;
  }
}

.form-faq {
  @include max-width(768px) {
    margin-bottom: 40px;
  }
}

/* catalog */
.main-catalog-wrapper {
  padding-bottom: 40px;
}

.element-count-wrapper {
  display: none;
}

.aside-menu .aside-menu__item {
  &::before {
    content: none;
  }
}

.aside-menu ul li {
  margin: 0;
}

.bx_filter:not(.compact) .bx_filter_parameters_box.set .title-wrapper::before {
  content: none;
}
