/* Banner */
.banner__item {
  margin: 0;

  &::before {
    content: none !important;
  }
}

/* Catalog */
.catalog_block {
  .counter_wrapp {
    padding: 0 36px 36px;

    > .counter_block {
      display: none;
    }

    > div {
      width: 100%;

      .btn {
        padding: 11px 22px;
        font-size: 18px;
        text-transform: none;
        border-radius: 2px;

        .svg {
          top: 0;
          width: 1em;
          height: 1em;
          margin-right: 12px;
          font-size: 20px;
          background: none !important;

          svg {
            display: block !important;
            color: $white;
            fill: currentColor;

            * {
              fill: currentColor !important;
            }
          }
        }
      }
    }
  }

  .catalog_item > div {
    box-shadow: inset 0 0 0 1px #e0e0e0;
  }
}

body .wrapper1.front_page .top_block a {
  @include max-width(550px) {
    position: relative;
    top: 0 !important;
    width: auto;
    max-width: none;
    height: auto;
    margin-top: 12px;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    background: none;
    opacity: 1;
    transform: none;
  }
}

.tab_slider_wrapp .top_block .right_block_wrapper {
  @include max-width(550px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.wrapper_inner .specials_slider_wrapp ul.tabs > li span,
.wrapper_inner .tab_slider_wrapp ul.tabs > li span {
  @include max-width(450px) {
    padding-bottom: 2px;
    font-size: 14px;
  }
}

.compact-catalog .ajax_load.block .catalog_item {
  .footer_button {
    @include max-width(600px) {
      display: none !important;
    }
  }

  > div {
    @include max-width(600px) {
      padding: 8px 12px 16px;
    }

    @include max-width(400px) {
      padding: 8px 12px 16px;
    }

    .item_info {
      @include max-width(600px) {
        padding-bottom: 0;
      }

      .cost.prices .price {
        &:not(.discount) {
          @include max-width(600px) {
            font-size: 16px;
          }
        }

        &.discount {
          @include max-width(600px) {
            font-size: 12px;
          }
        }
      }
    }
  }
}
