/* UI */
.button {
  &--gold {
    $linear: linear-gradient(
      244deg,
      #ebba75 -0.66%,
      #c58f44 18.49%,
      #ebba75 29.71%,
      #fff 45.22%,
      #ffe0b6 55.11%,
      #b78f58 72.25%,
      #f7d4a4 94.41%
    );

    $radial: radial-gradient(
      417.69% 2246.21% at 49.05% 50%,
      #ebba75 0%,
      #c58f44 10.5%,
      #fff 19.08%,
      #ffe0b6 23.53%,
      #b78f58 30.78%,
      #f7d4a4 41.63%,
      #ebba75 100%
    );

    color: $black;
    background: $linear, $radial;
  }
}

/* Main */
main {
  overflow: visible;
}

.wraps {
  &#content {
    z-index: auto;
  }

  > .wrapper_inner {
    z-index: auto;
    padding-bottom: 0;
  }
}

body {
  &[data-scroll-lock-locked='true'] {
    #headerfixed.fixed {
      z-index: 9;
    }

    .wrapper,
    .wrapper_inner,
    .wrapp,
    .wrapper1 > div {
      z-index: auto;
    }
  }
}

.drag-block.container {
  overflow: visible;
}

.viewed_product_block.fill > .wrapper_inner {
  border-bottom: none;
}

/* Header */
#header {
  z-index: 11;
  padding: 0;
  margin: 0;
}

.header__controls {
  text-align: center;
  > a {
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
  }
}

.header__body {
  padding: 13px 0 29px;

  @include max-width(900px) {
    padding: 8px 0 11px;
  }
}

.header-logo {
  max-width: 208px;
  height: 56px;

  @include max-width(900px) {
    max-width: 140px;
    height: 35px;
  }
}

.header__footer {
  padding: 0;
}

.header__control {
  > a {
    display: block;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
  }

  .js-basket-block,
  > a > div {
    position: relative;
    display: inline-block;
    margin: auto;

    .svg {
      top: 0;
    }
  }
}

.auth_wr_inner.with_dropdown {
  padding-right: 0 !important;

  &.header__control {
    > .svg.inline {
      display: none;
    }
  }
}

.header__list {
  &:not([id*='bx_']) {
    > li {
      &::before {
        content: none;
      }
    }
  }

  > .header__item {
    margin: 0;
  }
}

.header__item {
  &:last-child {
    .header__dropdown {
      right: 0;
      left: auto;
    }
  }

  .basket_hover_block {
    text-align: left;
  }

  .header__dropdown {
    margin-left: 0;

    > li {
      margin-left: 0;

      &::before {
        content: none;
      }
    }
  }
}

body #header {
  @include max-width(600px) {
    border-bottom: 1px solid #e0e0e0 !important;
  }
}

.header__sublink:not(:last-of-type) {
  margin-right: 36px;
}

.header__link {
  padding: 12px;
}
// aspro native mobile header
#mobileheader.visible-xs.visible-sm {
  @include max-width(767px) {
    display: none !important;
  }
}

body .wrapper1.mfixed_Y > div#mobileheader.fixed {
  display: none !important;
}

/* Menu */
.menu-slider__sublist {
  margin-left: 0;
}

.menu-slider__item {
  position: static;
}

.section-title {
  display: block;
  margin: 0 0 1em;
  font-family: $corm-garamond;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.4;

  b {
    color: $primary-active;
  }

  &--tac {
    text-align: center;
  }
}

/* Footer */
body #footer .copyright {
  color: $primary-hover;

  @include max-width(600px) {
    padding: 0 15px;
  }
}

.footer__body {
  align-items: flex-start;
  padding: 37px 0 12px;

  @include max-width(600px) {
    padding: 0 0 20px;
  }
}

.footer-cards__img {
  height: 23px;
}

body .block-items.flexbox.block-items--margined .block-item__wrapper .flexbox--row {
  justify-content: flex-start;
}

body .block-items.flexbox.block-items--margined .block-item__info {
  width: 100%;
}

.footer-social__inner {
  margin: 0;

  @include max-width(640px) {
    flex-wrap: nowrap;
    padding-bottom: 24px;
  }
}

.footer-social__link {
  overflow: visible;
}

.footer-social__link:hover {
  -webkit-transform: translateY(-4px);
  transform: translateY(-4px);
}

/* slider */
.block-item__title a span {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.item-views.brands .list .item {
  margin-bottom: 0;
}

/* catalog filter */
.bx_filter_vertical input[type='checkbox'] + label::before {
  background: transparent;
}

.bx_filter_vertical input[type='checkbox']:checked + label::before,
.bx_filter_vertical input[type='checkbox'] + label:not(.disabled):hover::before {
  background: $black-3;
}

body .bx_filter_vertical input[type='checkbox'] + label:not(.disabled):hover::before {
  background: transparent;
  border: 1px solid $black-3;
}

body .bx_filter_vertical input[type='checkbox']:checked + label::before,
.bx_filter_vertical input[type='checkbox']:checked + label:not(.disabled):hover::before {
  background: $black-3;
}

/* catalog dropdown */
.left_block {
  z-index: 2;
}

@media (max-width: 1200px) {
  .pre_blog-preview__list {
    margin: -10px -10px;
  }
}

@media (max-width: 600px) {
  .pre_blog-preview__list {
    margin: 0;
  }
}

/* pagingation catalog */
.bottom_nav {
  text-align: center;
}

/* form faq */
@media (max-width: 768px) {
  .form-faq {
    margin-bottom: 0;
  }
}

/* gallery slider */
.gallery-thumbs-slide {
  filter: grayscale(100%);
}
.gallery-thumbs-slide.swiper-slide-thumb-active {
  filter: grayscale(0%);
}

/* breadcrumbs */
.container-article-detail {
  position: relative;

  @include max-width(900px) {
    padding: 0 !important;
    padding-left: 15px !important;
  }
}

.container-article-detail .breadcrumbs {
  position: absolute;
  top: 24px;
  left: 18px;
  z-index: 1;
  font-size: 14px;
  line-height: 140%;

  @include max-width(1200px) {
    top: 12px;
  }

  @include max-width(900px) {
    height: 40px;
  }

  @include max-width(600px) {
    height: 45px;
  }

  @include max-width(600px) {
    position: static;
    padding-top: 12px;
    padding-left: 16px;
    margin-right: -16px;
    margin-left: -16px;
    background-color: #fdf8ef;
  }
}

.article-topic {
  min-height: 425px;

  @include max-width(1200px) {
    padding-top: 52px;
  }

  @include max-width(600px) {
    min-height: 215px;
  }
}

.class_page_catalog .page-top > div {
  padding: 24px 0 0;
}
.class_page_catalog .page-top > div:last-of-type {
  padding: 36px 0 5px;
}

.class_page_blog .page-top > div {
  padding: 24px 0 0;
}
.class_page_blog .page-top > div:last-of-type {
  padding: 36px 0 32px;
}

.class_page_news .page-top > div {
  padding: 24px 0 0;
}
.class_page_news .page-top > div:last-of-type {
  padding: 36px 0 32px;
}

.class_page_buy .page-top > div {
  padding: 24px 0 0;
}
.class_page_buy .page-top > div:last-of-type {
  padding: 36px 0 36px;
}

.class_page_delivery .page-top > div {
  padding: 24px 0 0;
}
.class_page_delivery .page-top > div:last-of-type {
  padding: 36px 0 36px;
}

.class_page_payment .page-top > div {
  padding: 24px 0 0;
}
.class_page_payment .page-top > div:last-of-type {
  padding: 36px 0 36px;
}

.class_page_warranty .page-top > div {
  padding: 24px 0 0;
}
.class_page_warranty .page-top > div:last-of-type {
  padding: 36px 0 36px;
}

.class_page_info .page-top > div {
  padding: 24px 0 0;
}
.class_page_info .page-top > div:last-of-type {
  padding: 36px 0 36px;
}

.detail_page_catalog .page-top > div:last-of-type {
  padding: 24px 0 5px;
}

.class_page_second_partners .page-top > div {
  padding: 24px 0 0;
}
.class_page_second_partners .page-top > div:last-of-type {
  padding: 36px 0 32px;
}

@media (max-width: 768px) {
  .class_page_catalog .page-top > div {
    padding: 12px 0 0;
  }
  .class_page_catalog .page-top > div:last-of-type {
    padding: 12px 0 5px;
  }

  .class_page_blog .page-top > div {
    padding: 12px 0 0;
  }
  .class_page_blog .page-top > div:last-of-type {
    padding: 12px 0 24px;
  }

  .class_page_news .page-top > div {
    padding: 12px 0 0;
  }
  .class_page_news .page-top > div:last-of-type {
    padding: 12px 0 12px;
  }

  .class_page_buy .page-top > div {
    padding: 12px 0 0;
  }
  .class_page_buy .page-top > div:last-of-type {
    padding: 12px 0 12px;
  }

  .class_page_delivery .page-top > div {
    padding: 12px 0 0;
  }
  .class_page_delivery .page-top > div:last-of-type {
    padding: 12px 0 12px;
  }

  .class_page_payment .page-top > div {
    padding: 12px 0 0;
  }
  .class_page_payment .page-top > div:last-of-type {
    padding: 12px 0 12px;
  }

  .class_page_warranty .page-top > div {
    padding: 12px 0 0;
  }
  .class_page_warranty .page-top > div:last-of-type {
    padding: 12px 0 12px;
  }

  .class_page_info .page-top > div {
    padding: 12px 0 0;
  }
  .class_page_info .page-top > div:last-of-type {
    padding: 12px 0 12px;
  }

  .detail_page_catalog .page-top > div:last-of-type {
    padding: 12px 0 5px;
  }

  .class_page_second_partners .page-top > div {
    padding: 12px 0 0;
  }
  .class_page_second_partners .page-top > div:last-of-type {
    padding: 12px 0 12px;
  }
}

.breadcrumbs {
  @include max-width(900px) {
    display: flex;
    width: 100%;
    overflow-x: auto;

    @include max-width(600px) {
      width: auto;
    }
  }
}
.breadcrumbs__item {
  @include max-width(900px) {
    white-space: nowrap;
  }
  &:last-child {
    @include max-width(900px) {
      padding-right: 26px;
    }
  }
}

body .detail_page_catalog .maxwidth-theme {
  width: 100%;
  max-width: 1386px;
  padding: 0 18px;
}
body .class_page_catalog .maxwidth-theme,
body .class_page_blog .maxwidth-theme,
body .class_page_news .maxwidth-theme,
body .class_page_buy .maxwidth-theme,
body .class_page_delivery .maxwidth-theme,
body .class_page_payment .maxwidth-theme,
body .class_page_warranty .maxwidth-theme,
body .class_page_info .maxwidth-theme,
body .detail_page_catalog.maxwidth-theme,
body .class_page_second_partners .maxwidth-theme {
  @include max-width(900px) {
    padding-right: 0;
  }
}

.breadcrumbs__item-name {
  color: $gray;
}

.breadcrumbs__separator {
  bottom: 0;
  margin: 0 5px 0 5px;
  color: $yellow-dark;
}

.breadcrumbs__item:last-child .breadcrumbs__item-name {
  color: $gray;
  opacity: 0.5;
}

.about-section .breadcrumbs {
  position: absolute;
  top: 24px;
  z-index: 9;
}

/* Partners */
.page_company .with-text-block-wrapper > .row > div:first-of-type {
  padding-bottom: 144px;
}

.page_company .maxwidth-theme {
  max-width: 100%;
  padding: 0 18px;
}

@media (max-width: 1650px) {
  .item-views.brands .row.flexbox {
    flex-wrap: wrap;
  }
}

.company_innerPage {
  width: 100%;
  max-width: 1408px;
  padding: 0 30px;
  margin-top: 0;
}

@media (max-width: 767px) {
  .company_innerPage {
    padding: 0 15px;
  }
}

/* .catalog_card */
.catalog_item:hover {
  width: 100%;
  height: 100%;
}

@media (max-width: 1200px) {
  .wrapper1.with_left_block .col-lg-20 {
    width: calc(100% / 3);
  }
}

.inner-slider .catalog_item:hover .inner_wrap {
  position: absolute;
  width: 100%;
  height: auto !important;
}

body .catalog_item:hover .footer_button {
  background: $white;
  box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.07);
}

body .inner-slider .catalog_item:hover .footer_button,
body .inner_wrapper .catalog_item:hover .footer_button,
body .tabs_content .catalog_item:hover .footer_button {
  box-shadow: none;
}

.basket-wrapper-bd .owl-carousel.owl-theme.owl-bg-nav .owl-stage-outer {
  margin-bottom: 20px;
}

.header__control:not(:last-child) {
  margin-right: 24px;
}

.input-wrapper .input + .input__clear,
.label .input + .input__clear {
  padding: 0;
  color: $gray-light;
  visibility: visible;
  background: transparent;
  border: none;
  opacity: 1;

  --size: 28px;
}

.button:focus,
button.button:focus {
  box-shadow: none;
}

.button-icon svg,
button.button-icon svg {
  width: 28px;
  height: 28px;
}

.header__search .input {
  padding: 14px 16px;
}

.header__search .input-wrapper .input {
  padding-right: 3.75em;
}

#title-search .button:hover {
  color: $primary-hover;
  background-color: transparent;
  border-color: transparent;
}

.footer__header {
  align-items: center;
  padding-bottom: 0;
}

.footer__pictures {
  display: block;
  padding-bottom: 40px;

  @include max-width(640px) {
    padding-bottom: 24px;
    margin-top: 0;
  }
}

.footer__footer {
  @include max-width(640px) {
    margin-right: -18px;
    margin-left: -18px;
  }
}

.footer-social__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include max-width(640px) {
    flex-direction: column;
  }
}
.footer__left {
  @include max-width(600px) {
    margin-bottom: 33px;
  }
}

.footer__left .desktop {
  display: block;

  @include max-width(600px) {
    display: none;
  }
}

.footer__left .mobile {
  display: none;

  @include max-width(600px) {
    display: block;
    width: 100%;
    max-width: 122px;
    height: 100%;
    max-height: 85px;
  }
}

body .footer .footer__wrap .mobile-hidden {
  @include max-width(600px) {
    display: none;
  }
}

body .footer .footer__wrap .mobile-show {
  display: none;

  @include max-width(600px) {
    display: block;
  }
  .button {
    width: 100%;
    min-width: auto;
  }
}

.product-preview__tag {
  color: $white;
  background-color: $gray;
}

.product-preview__tag--red {
  background-color: $second;
}

.footer-cards {
  width: 100%;
  max-width: 310px;
}

.product-subcard__img {
  min-height: 122px;
  max-height: 122px;
}

.block_side_NORMAL .title-menu {
  font-weight: 400;
}

.filter-panel__filter .bx-filter-title span {
  font-weight: 400;
}

.filter-panel {
  @include max-width(600px) {
    border-bottom: none;
  }
}

@media (max-width: 700px) {
  body .banners {
    padding: 0;
  }
}

.right_block p {
  margin-bottom: 15px;
}

.items-list1.item-views.table .item .image img {
  margin: 0 auto;
}

.product__title {
  font-size: 32px;

  @include max-width(600px) {
    font-size: 28px;
  }
}

.product__title b {
  display: inline-block;
}

#main .basket_hover_block .tabs_content .items .item .remove-cell * svg {
  width: auto;
  height: auto;
}

#main .basket_hover_block .tabs_content .svg-inline-closes * {
  width: auto;
  height: auto;
}

.product-subslider-container .button--black:focus {
  color: $white;
}
.product-right .button--black {
  font-weight: normal;
}

/* catalog-slider */

.catalog__slider-wrap {
  position: relative;
  max-width: 1389px;
  padding: 0 18px;
  margin: 0 auto;
}

.catalog__slider-wrap .catalog_block .catalog_item > div {
  margin-right: 0;
}

.inner-slider {
  width: 100%;
  height: 100%;
  padding-bottom: 96px;
  overflow: hidden;

  @include max-width(768px) {
    padding-bottom: 40px;
  }

  @include max-width(600px) {
    padding-bottom: 40px;
  }
}

.catalog_page_detail .viewed_product_block .viewed-wrapper {
  padding-top: 0;
}

body .viewed_product_block .viewed-wrapper {
  padding: 96px 0 0;

  @include max-width(1200px) {
    padding: 40px 0 0;
  }
}

.catalog-slider {
  position: relative;
  overflow: visible;
}

.catalog-slider .row.flexbox {
  flex-wrap: nowrap;
}

body .catalog-slider .catalog_block .catalog_item {
  height: 100%;
}

.catalog-button-icon--prev {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 9;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background: #fff;
  border: none;
  border-radius: 4px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
  transform: translateY(-50%);
  svg {
    width: 100%;
    max-width: 20px;
    height: 100%;
    max-height: 20px;
    transform: rotate(-180deg);
  }
}

.catalog-button-icon--next {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 9;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background: #fff;
  border: none;
  border-radius: 4px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
  transform: translateY(-50%);
  svg {
    width: 100%;
    max-width: 20px;
    height: 100%;
    max-height: 20px;
  }
}

@media (max-width: 767px) {
  .catalog__footer {
    display: none;
  }
}

.catalog__slider-wrap .product__title {
  font-size: 32px;
  b {
    font-size: 32px;

    @include max-width(1024px) {
      font-size: 24px;
    }
  }

  @include max-width(1024px) {
    font-size: 24px;
  }
}

.bigdata_recommended_products_items .block-items.flexbox:not(.owl-grab)::before {
  margin: 15px 0;
}

.bigdata_recommended_products_items .block-items.flexbox .owl-stage {
  margin: 15px 0;
}

/* BASKET */
#basket-root .basket-items-list-wrapper .basket-items-list-header {
  background-color: $white;
}

#basket-root .basket-items-list-header-filter-item {
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
  color: $gray-extra-dark;
  text-decoration: none;
}

#basket-root .basket-items-list-header-filter-item.active {
  &::before {
    left: -44px;
    width: 32px;
    height: 32px;
    margin-right: 12px;
    font-size: 16px;
    line-height: 20px;
    text-transform: none;
    content: '';
    background-color: transparent;
    background-image: url(/upload/basket-shopping-cart.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.basket-items-list-outer .basket_action .remove_all_basket svg {
  width: 10px;
  height: 10px;
  margin: 0 0 1px 9px;
}

.basket_action .remove_all_basket {
  font-size: 16px;
  line-height: 20px;
  color: $gray-light;
  text-transform: none;
}

#basket-root .basket-checkout-container {
  padding: 32px;
}

#basket-root .basket-item-price-difference {
  display: none;
}

.basket-item-block-properties {
  display: none;
}

.basket-checkout-total-price {
  display: none;
}

.basket-checkout-total-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: $gray-extra-dark;
}

#basket-root .basket-checkout-block-total-inner .basket-coupon-block-total-price-current {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: $gray-extra-dark;
}

.basket-checkout-total-price-inner {
  padding-top: 20px;
}

.basket-checkout-info {
  margin-bottom: 0;
}
.basket-checkout-info > div {
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  background-color: $white;
}

.basket-checkout-info__name {
  padding-right: 5px;
}

.basket-checkout-info__value {
  padding-left: 5px;
}

.basket-checkout-info::before {
  top: 75%;
}

.basket-coupon-section {
  margin-top: 20px;
}

.basket-coupon-section .form-group > input {
  margin-bottom: 20px;
  background-color: #fbfbfb;
}

#basket-root .basket-coupon-block-coupon-btn {
  top: 50%;
  width: 32px;
  height: 32px;
  background: $black-2;
  transform: translateY(-50%);
  svg {
    .cls-1 {
      fill: $white;
      stroke: $white;
    }
  }
}

.basket-items-list-wrapper {
  border-bottom: 0;
}

#basket-root .basket-items-list-header-filter .basket-items-list-header-filter-item {
  margin: 0;
  margin-left: 44px;
}

#basket-root .basket-checkout-section .btn-default.basket-btn-checkout {
  font-size: 14px;
  line-height: 140%;
  color: $white;
  text-transform: uppercase;
}

.basket-checkout-block-share svg,
.btn_basket_heading--download svg {
  display: none;
}

.basket-checkout-block-share {
  position: relative;
}

.basket-checkout-block-share > ::before {
  position: absolute;
  top: 4px;
  left: -24px;
  width: 24px;
  height: 24px;
  content: '';
  background: url(/local/templates/aspro_max/images/svg/share.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.btn_basket_heading--download {
  position: relative;
  &::before {
    position: absolute;
    top: 4px;
    left: -24px;
    width: 24px;
    height: 24px;
    content: '';
    background: url(/local/templates/aspro_max/images/svg/download.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.cart-empty .cart-empty__picture::before,
body .bx-sbb-empty-cart-image {
  background-size: 106px 72px;
}

.topic__inner > div:not(.topic__heading) {
  margin: 10px 0 0 19px;
}

.topic__inner > div.btn_basket_heading--with_title .title {
  font-size: 16px;
  line-height: 20px;
  color: $gray-light;
  text-transform: unset;
  letter-spacing: 0;
}

.basket-items-list-item-removes {
  right: 0;
  padding-right: 30px;
}

.basket-items-list-item-wrapper {
  border-bottom: 1px solid #ececec;
  &:last-child {
    border-bottom: none;
  }
}

.basket_hover_block .tabs_content .item .cost.prices .price_name {
  display: none;
}

.bigdata_recommended_products_items .block-items .block-item .item_info {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.block-items.flexbox .block-item__wrapper .more-btn {
  position: absolute;
  right: 12px;
  bottom: 12px;
  height: max-content;
  margin: 0;
}

.bigdata_recommended_products_items .cost.prices .price .values_wrapper {
  position: absolute;
  bottom: 12px;
  display: inline-block;
}

.class_page_basket #navigation {
  display: block;
  padding-top: 24px;

  @include max-width(768px) {
    padding-top: 12px;
  }
}

.class_page_basket .page-top > div:last-of-type {
  padding: 36px 0 40px;

  @include max-width(768px) {
    padding: 12px 0 12px;
  }
}

.basket-item-price-current-value {
  font-size: 20px;
  line-height: 28px;

  @include max-width(768px) {
    font-size: 16px;
    line-height: 20px;
  }
}

.basket-items-list-table {
  width: 100%;
  margin: 0;
}

.basket-items-list-item-wrapper > td {
  padding-left: 32px;
}

.stickers-basket.stickers .sticker_percent {
  color: $white;
  background-color: #ac003e;
  border-color: #ac003e;
  border-radius: 2px;
}

.stickers [class*='sticker_'] {
  color: #000;
  background-color: transparent;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
}

.sticker_khity,
.sticker_rekomendatsii,
.sticker_novinki,
.sticker_aktsii {
  display: none !important;
}

.block-item__wrapper .icon-basket-container-custom a {
  display: none;
}

.block-item {
  transition: transform ease 0.2s, box-shadow ease 0.2s;
  &:hover {
    z-index: 1;
    border-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  }
}

.block-item__wrapper:hover {
  .icon-basket-container-custom a {
    display: block;
  }
}

.icon-basket-container-custom a {
  max-width: 56px;
  max-height: 40px;
  background: $black-2;
  border-color: $black-2;
  &:hover {
    color: $black;
    background: transparent;
  }
  svg {
    width: 24px;
    height: 24px;
    overflow: visible;
    color: $white;
  }
}

.basket-wrapper-bd .bigdata_recommended_products_items .btn:hover {
  background: transparent;
}

.basket-wrapper-bd .bigdata_recommended_products_items .btn:hover svg {
  color: $black-2;
}

.basket-item-btn-minus,
.basket-item-btn-plus {
  display: none;
}

.basket-items-list-item-amount-outer {
  display: none;
}

/* order */
.total-scroll-info__value.wborder span {
  line-height: 27px;
  color: $main;
}

.change_city {
  color: $main;
}

.block-items.flexbox .block-item__wrapper.w-btn {
  padding-bottom: 24px;
}

.btn.btn-transparent-border-color {
  color: #fff;
  background: 0 0;
  background: #231f20;
}

body #bx-soa-order-form {
  padding-bottom: 40px;
}

body .rounded3 {
  flex-direction: column;
  width: 100%;
}

.filter label {
  position: static;
}

.bx-soa-pp-company-graf-container {
  position: static;
}

.filter input[type='radio'] + .bx-soa-pp-company-label::after,
.filter input[type='radio'] + .bx-soa-pp-company-label::before {
  top: 10px;
  right: 10px;
  left: auto;
  border-radius: 100%;
}

.filter input[type='radio']:checked + .bx-soa-pp-company-label::after {
  top: 16px;
  right: 16px;
  left: auto;
  border-radius: 100%;
}

.bx-soa-section {
  border-color: $gray-super-light;
}

.bx-soa-cart-total {
  border-color: $gray-super-light;
}

.bx-soa-section-content .bx-soa-pp-company-inner {
  padding: 22px 15px 22px;
}

#bx-soa-properties .bx-soa-section-title {
  position: relative;
  padding-left: 44px;

  @include max-width(418px) {
    padding-bottom: 15px;
  }
  &::before {
    position: absolute;
    top: -5px;
    left: 0;
    width: 40px;
    height: 40px;
    content: '';
    background-image: url(/upload/person.svg);
    background-repeat: no-repeat;
    background-size: cover;

    @include max-width(418px) {
      top: -8px;
    }
  }
}

#bx-soa-delivery .bx-soa-section-title {
  position: relative;
  padding-left: 44px;
  &::before {
    position: absolute;
    top: -5px;
    left: 0;
    width: 40px;
    height: 40px;
    content: '';
    background-image: url(/upload/delivery.svg);
    background-repeat: no-repeat;
    background-size: cover;

    @include max-width(418px) {
      top: -8px;
    }
  }
}

#bx-soa-delivery .change_city {
  display: none;
}

#bx-soa-paysystem .bx-soa-section-title {
  position: relative;
  padding-left: 44px;
  &::before {
    position: absolute;
    top: -5px;
    left: 0;
    width: 40px;
    height: 40px;
    content: '';
    background-image: url(/upload/payment.svg);
    background-repeat: no-repeat;
    background-size: cover;

    @include max-width(418px) {
      top: -8px;
    }
  }
}

#bx-soa-paysystem .col-lg-4 {
  width: 50%;
}

.nobasemessage {
  display: inline-block;
  color: $main;
  text-decoration: none;
  border-bottom: 1px dashed $main;
  &:hover {
    color: $black;
    text-decoration: none;
    border-bottom: 1px dashed $black;
  }
}

.bx-soa-change-profile {
  color: $main;
  border-bottom: 1px dashed $main;
  &:hover {
    color: $black;
    border-bottom: 1px dashed $black;
  }
}

.bx-soa-change-profile:not(:hover) {
  color: $main;
}

.bx-soa-coupon-input::before {
  background-color: $black;
}

.bx-soa-coupon-input::after {
  border-right: 2px solid $black;
  border-bottom: 2px solid $black;
}

.basket-back {
  margin: 17px 0 0;
}

.class_page_order #navigation {
  display: block;
  padding-top: 24px;

  @include max-width(768px) {
    padding-top: 12px;
  }
}
.class_page_order .page-top > div:last-of-type {
  padding: 36px 0 40px;

  @include max-width(768px) {
    padding: 12px 0 12px;
  }
}

.bx-soa-cart-total-line .bx-soa-cart-t {
  padding-right: 5px;
  margin-bottom: 5px;
}

.bx-soa-cart-total-line .bx-soa-cart-d {
  padding-right: 5px;
  margin-bottom: 5px;
}

.bx-soa-cart-total-line:not(.bx-soa-cart-total-line-totals) .bx-soa-cart-t {
  background-color: $white;
}
.bx-soa-cart-total-line:not(.bx-soa-cart-total-line-totals) .bx-soa-cart-d {
  background-color: $white;
}

#bx-soa-order-form .btn.btn-default {
  font-size: 14px;
  text-transform: uppercase;
}

.sale_order_full_table:last-of-type {
  margin-bottom: 40px;
}

/* widgets */
#vk_groups iframe {
  height: 175px !important;
}

#ok_group_widget {
  right: -5px !important;
  bottom: -10px !important;
  left: -5px !important;
}

/* preview slider */
.swiper-slide-blocks {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;

  @include max-width(900px) {
    display: none;
  }
}

.swiper-slide-block {
  height: 100%;
}

.preview-slider .swiper-pagination-bullet {
  width: 6px;
  height: 6px;
}

.preview-slider .swiper-pagination-bullet-active {
  background: $black;
}

/* banner */
.banner__wrap {
  .button:hover {
    background: linear-gradient(
        244deg,
        #ebba75 -0.66%,
        #c58f44 18.49%,
        #ebba75 29.71%,
        #fff 45.22%,
        #ffe0b6 55.11%,
        #b78f58 72.25%,
        #f7d4a4 94.41%
      ),
      radial-gradient(
        417.69% 2246.21% at 49.05% 50%,
        #ebba75 0,
        #c58f44 10.5%,
        #fff 19.08%,
        #ffe0b6 23.53%,
        #b78f58 30.78%,
        #f7d4a4 41.63%,
        #ebba75 100%
      );
  }
}

.tab_slider_wrapp ul.tabs > li span {
  padding: 0;
  color: $gray-extra-dark;
  &:hover {
    color: #777;
  }
}

.top_block ul.tabs li {
  margin: 8px 26px 0 0;

  @include max-width(550px) {
    margin: 0 26px 0 0;
  }
}

.tab_slider_wrapp .tabs_wrapper + a.font_upper {
  color: $black;
}

.desc__play span {
  font-family: $montserrat;
}

.pre_card-section--last {
  padding-top: 96px;

  @include max-width(1200px) {
    padding-top: 40px;
  }
}

#main .onoff input[type='checkbox'] + label::before {
  top: 1px;
}
#main .onoff input[type='checkbox'] + label::after {
  top: 1px;
}

body .catalog_block .counter_wrapp > div .btn .svg svg {
  color: transparent;
}
body .ajax_load.block .footer_button .btn {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

a.scroll-to-top.visible {
  bottom: 55px !important;
}

.sale_block .inner-sale {
  display: none;
}

.aside-blog__title {
  color: $gray-extra-dark;
  transition: 0.3s;
}
.aside-blog__title:hover {
  color: $main;
}

.card-news__banner {
  height: 150px;
  border-radius: 2px;

  @include max-width(768px) {
    height: 226px;
  }
}

.card-news__content {
  padding-top: 4px;
}

.news__aside .tags {
  position: sticky;
  top: 20px;
}

.article-controls__bg {
  width: 100%;
}

.article-controls {
  max-width: 100%;
}

body .social__item-text {
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  color: $gray-dark;
}

.svg svg circle,
.shares-block .svg svg line {
  transition: 0.3s;
}

.shares-block {
  svg {
    width: 28px;
    height: 28px;
    padding: 4px;
    padding-left: 1px;
    border: 1px solid #e0e0e0;
    border-radius: 50%;
    path {
      fill: none !important;
    }
  }
  &:hover {
    svg path {
      stroke: $black-2;
    }
  }
}

body .rss .svg svg path {
  fill: none !important;
  stroke: $gray;
}

body .rss .svg svg {
  width: 28px;
  height: 28px;
  transition: 0.3s;
  &:hover {
    path {
      stroke: $gray-extra-dark;
    }
  }
}

.company_innerPage .back-url {
  text-decoration: none;
}

.back-url {
  transition: 0.3s;
  &:hover {
    color: $black-2;
    svg path {
      fill: $black-2;
    }
  }
}

.company_innerPage .url-block span.back-url-text {
  padding-left: 5px;
}

.catalog_page .news__controls .news__controls-button {
  width: 100%;
  padding: 11px;
  margin-bottom: 4px;
  font-size: 12px;
  font-weight: 600;
  line-height: 140%;
  color: #333;
  text-transform: uppercase;
  background-color: transparent;
  border-color: $gray-super-light;
}

.catalog_page .news__controls .news__controls-button:hover {
  color: $white;
  background-color: $black-2;
  border-color: $black-2;
}

.tabs_content .ajax_load_btn.ajax .more_text_ajax {
  display: none;
}

.news__controls {
  margin: 40px auto 60px;

  @include max-width(600px) {
    margin: 20px auto 20px;
  }
}

.slide-block__head.filter_title.active-filter .svg::before {
  content: none;
}

#filter-helper .filter_title {
  display: none;
}

#filter-helper .filterHelperItem {
  flex-direction: row;
  align-items: center;
  width: auto;
  height: auto;
}

#filter-helper .filterHelperItemsWrapper {
  width: 100%;
}

body .form-faq__button,
body .form-faq button.form-faq__button {
  align-self: center;
}

.swiper-pagination2 {
  text-align: center;
}

.aside-blog__slider-wrapper .swiper-pagination2 .swiper-pagination-bullet {
  display: inline-block;
  width: 6px;
  height: 6px;
  background: var(--swiper-pagination-bullet-inactive-color, $black);
  border-radius: 50%;
  opacity: var(--swiper-pagination-bullet-inactive-opacity, 0.2);
}

.aside-blog__slider-wrapper .swiper-pagination2 .swiper-pagination-bullet-active {
  background: $black;
  opacity: 1;
}

body .bx_filter .bx_filter_button_box.btns .btn.bx_filter_search_reset {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $black;
  .svg {
    top: 0;
    left: 10px;
  }
}

body .bx_filter .bx_filter_button_box.btns .btn.bx_filter_search_reset:hover {
  color: $white;
}

#mobilefilter .bx_filter .slide-block .filter_title {
  @include max-width(900px) {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  @include max-width(600px) {
    font-size: 14px;
  }
}
#filter-helper {
  @include max-width(900px) {
    padding: 0;
  }
}

#mobilefilter .bx_filter .slide-block .filter_title .svg.svg-close {
  @include max-width(900px) {
    top: 50%;
    right: 21px;
    transform: translateY(-50%);
  }
}

#mobilefilter .bx_filter .slide-block .filter_title .svg-inline-catalog svg {
  @include max-width(600px) {
    width: 16px;
    height: 16px;
  }
}

#mobilefilter .bx_filter .bx_filter_button_box .bx_filter_parameters_box_container > .btn.bx_filter_search_reset {
  @include max-width(900px) {
    width: 100%;
    color: $white;
    border-bottom: 1px solid $white;
  }
}
#mobilefilter
  .bx_filter
  .bx_filter_button_box
  .bx_filter_parameters_box_container
  .bx_filter_search_reset:not(.hidden)
  + .filter-bnt-wrapper {
  @include max-width(900px) {
    padding-left: 0;
  }
}

.filter-panel-wrapper .muted {
  svg path {
    fill: transparent;
    stroke: $gray-muted;
  }
}

.filter-panel-wrapper .controls-view__link--current {
  svg path {
    fill: transparent;
    stroke: $black;
  }
}

.filter-panel-wrapper .controls-hr {
  height: 20px;
  margin: 0 25px 0 25px;
}

.filter-panel-wrapper .controls-view__link--table {
  display: none;
}

.product-subcard__img-wrapper {
  border: 1px solid transparent;
  transition: 0.3s;
}

.product-subcard__img-wrapper:hover {
  border: 1px solid $black;
}

.product__item p {
  margin-bottom: 0;
}

.modal-wrapper--zoom .tags-container-custom {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 27px;

  @include max-width(1500px) {
    flex-direction: column;
    align-items: flex-start;
  }

  @include max-width(768px) {
    padding: 0 18px;
    font-size: 25px;
  }
}

.modal-wrapper--zoom .tags-header-custom {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 175px;
  margin-right: 25px;

  @include max-width(1500px) {
    max-width: 100%;
  }

  @include max-width(768px) {
    margin-right: 0;
    margin-bottom: 15px;
  }
}

.modal-wrapper--zoom .title-zoom-product {
  font-family: $corm-garamond;
  font-size: 40px;
  font-weight: bold;
  line-height: 140%;
  color: $gray-extra-dark;

  @include max-width(768px) {
    font-size: 25px;
  }
}

.modal-wrapper--zoom {
  .product__buy {
    max-width: 264px;
    max-height: 56px;
  }
}

.modal--big .product-preview__tag {
  margin-bottom: 10px;
}

.modal--big .button--black {
  margin-top: 52px;
}

.modal--big .custom-product-preview-wrap {
  width: 100%;
}

.product__buy {
  &:focus,
  &:hover {
    color: $black-2;
    background: transparent;
  }
}

.article__content {
  display: flex;
  width: 100%;
  max-width: 100%;
  p + p {
    margin-top: 0;
  }
}

.article__content .left {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 155px;
  margin-right: 76px;

  @include max-width(1400px) {
    max-width: 0;
    margin-right: 0;
  }
}

.article__content .right {
  width: 100%;
  max-width: 895px;
  p {
    margin-bottom: 15px;
  }

  @include max-width(1400px) {
    margin: 0 auto;
  }
}

.article-share {
  top: 10px;
  margin: 0;
  margin-top: 145px;
  transform: none;

  @include max-width(1400px) {
    margin: 145px 0 0 125px;
  }

  @include max-width(1160px) {
    margin: 145px 0 0 30px;
  }
}

.product-info-section .product-info__inner {
  margin-bottom: 71px;

  @include max-width(1200px) {
    margin-bottom: 40px;
  }
}

.product-info-section .product-info__footer {
  max-width: 894px;
  margin-right: 438px;
}

.catalog__slider-wrap .product__header {
  margin-bottom: 36px;
}

.catalog__slider-wrap .swiper-button-disabled {
  opacity: 0.5;
}

.catalog__slider-wrap .catalog-slider .row.flexbox .item {
  height: auto;
}

.header__body .header__wrap {
  align-items: flex-end;

  @include max-width(900px) {
    align-items: center;
  }
}

.viewed_product_block .viewed-wrapper h3 {
  margin-bottom: 36px;
  font-size: 32px;
  font-weight: bold;
  line-height: 140%;
  text-align: left;

  @include max-width(600px) {
    margin-bottom: 24px;
    font-size: 24px;
    line-height: 28px;
  }
}

.main .news__controls {
  display: none;
}

.personal_wrapper .sale-personal-section-index-block-link {
  background-color: $white;
}

.personal_wrapper .orders_wrapper .row.col-md-12.col-sm-12 > a,
.personal_wrapper .orders_wrapper .sale-order-title,
.personal_wrapper .orders_wrapper .sale-order-list-container .sale-order-list-title,
.orders_wrapper .row div.sale-order-list-inner-container * {
  font-family: $sans;
}

.scrollbar-filter.show ~ .content {
  overflow: hidden;
}

.cost.prices .value {
  z-index: 2;
}

.catalog_item_wrapp .swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 0;
  margin-top: 42px;
}

.catalog_block .catalog_item img {
  width: 100%;
  max-width: 306px;
  height: 100%;
  max-height: 247px;
  object-fit: contain;
}
.catalog_block .catalog_item > div .item_info {
  padding-right: 21px;
  padding-left: 21px;

  @include max-width(600px) {
    padding-right: 0;
    padding-left: 0;
  }
  span {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}

.catalog_block .catalog_item > div .item_info .sa_block {
  display: none;
}

.catalog_block .catalog_item .cost.prices {
  margin-top: 24px;

  @include max-width(600px) {
    margin-top: 12px;
  }
}

.catalog_block .catalog_item .cost.prices .value {
  display: flex;
}

.catalog_block .catalog_item .cost.prices .price.discount > span {
  display: flex;
  line-height: normal;
}

.product-thumbs-slide img {
  padding: 2px;
}

body .previously-watched--main .section-title--tac {
  font-size: 40px;
  font-weight: bold;
  line-height: 140%;
  text-align: center;

  @include max-width(600px) {
    font-size: 28px;
    line-height: 32px;
  }
}

body .modal-book-custom .form-group input[type='checkbox'] + label::before {
  top: 0;
}
body .modal-book-custom .form-group input[type='checkbox'] + label::after {
  top: 0;
}

.bv-form .help-block {
  margin-top: -20px;
  font-size: 12px;
  font-weight: normal;
  line-height: 20px;
}

.bv-form .row .col-xs-12:nth-child(3) .help-block {
  margin-top: -13px;
}

.news__inner {
  width: 75%;

  @include max-width(1024px) {
    width: 100%;
  }
}

body .social .social__item-middle {
  position: relative;
  height: 100%;
  padding: 0 16px 0;
  margin-bottom: 20px;
}

body .social .social__item-middle .widget {
  position: absolute;
  bottom: 10px;

  @include max-width(1200px) {
    position: static;
  }
}

body .inst-widget__list-item:nth-child(4),
body .inst-widget__list-item:nth-child(5),
body .inst-widget__list-item:nth-child(6) {
  @include max-width(1200px) {
    display: block;
  }
}

.wr-section {
  text-align: center;
  h6 {
    margin-top: 0;
    margin-bottom: 15px;
    text-align: center;
  }
}

.wr-section .section-title {
  font-family: $sans;
  font-size: 26px;
  text-align: center;
}

.wr-section .t_btn {
  display: block;
  width: 100%;
  max-width: 275px;
  padding: 12px 21px 11px;
  padding: 11px 22px;
  margin: 0;
  margin: 0 auto;
  margin-bottom: 40px;
  overflow: hidden;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  background-color: $black-2;
  border: 1px solid;
  border-color: $black-2;
  border-radius: 3px;
  border-radius: 2px;
  -moz-transition: background-color 0.3s ease;
  -ms-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  &:hover {
    color: $black-2;
    background-color: $white;
  }
}

.modal--big {
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
}
.in-cart svg {
  width: 24px;
  height: 24px;
}

.char_name .hint .icon {
  display: none;
}

body .hint {
  width: 16px;
  height: 16px;
  background-image: url(/upload/images/newinfo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
}

.filter label.bx-soa-pp-company-label {
  display: flex;
  align-items: center;
}

body .block-item__myfooter .button .svg {
  width: 100%;
  max-width: 24px;
  height: 100%;
  max-height: 24px;
  overflow: visible;
}

body .footer__footer {
  padding: 27px 0 20px 0;
}
.footer__footer.footer__rights-text {
  padding: 0 0 30px 0 !important;
  border-top: unset;
}
body .footer__footer.footer__rights-text p {
  font-size: 13px;
  color: #545454 !important;
}

.card-news--filled .card-news__tag {
  &:hover {
    color: $white;
  }
}

.card-news__tag {
  @include max-width(600px) {
    padding: 0 8px 2px;
  }
}

.topic__heading .basket-back {
  display: none;
}

body .social__item {
  height: 360px;
}

body .block-type.bottom_nav .ajax_load_btn.ajax {
  padding: 0;
}

.article {
  @include max-width(900px) {
    overflow: hidden;
  }
}

.product-subcard__title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.product-preview-slider .product .product__pic > img {
  cursor: pointer;
}

.modal--big .product-preview-slider .product .product__pic > img {
  cursor: none;
}

.compact-catalog .catalog_block .catalog_item > div .item_info {
  @include max-width(600px) {
    justify-content: flex-start;
  }
}

.wrapper_page_order_form .wrapper_inner .container {
  max-width: unset;
  .maxwidth-theme {
    max-width: unset;
    padding: 0;
  }
}
.wrapper_page_order_form .order {
  max-width: 1410px;
  padding: 0 30px;
  margin: 0 auto;

  @include max-width(767px) {
    padding: 0 15px;
  }
  .order__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 20px 0 0 0;

    @include max-width(1024px) {
      flex-direction: column;
    }
  }
  .order__content {
    width: 100%;
    max-width: 893px;
    margin-right: 30px;

    @include max-width(1024px) {
      max-width: 100%;
      margin-right: 0;
    }
  }
  .order__topic {
    align-items: center;
    margin-bottom: 35px;

    @include max-width(600px) {
      align-items: flex-start;
    }
  }
  .order__description {
    margin-bottom: 0;
  }
  .order__block + .order__block {
    margin-top: 20px;
  }
  .order__block {
    padding: 40px 48px;

    @include max-width(1024px) {
      margin-right: 0;
      margin-left: 0;
    }

    @include max-width(768px) {
      padding: 25px;
    }

    @include max-width(600px) {
      padding: 20px;
    }
    .order__block-title {
      font-size: 24px;
      font-weight: 700;
      line-height: 140%;

      @include max-width(600px) {
        font-size: 20px;
      }
    }
    .order__recipient-svg {
      width: 24px;
      height: 24px;
    }
    .order__recipient-name {
      margin-bottom: 24px;
      font-size: 18px;
      font-weight: 400;
      line-height: 20px;

      @include max-width(600px) {
        font-size: 16px;
      }
    }
    .order__recipient-text {
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;

      @include max-width(600px) {
        font-size: 14px;
      }
      b {
        font-weight: 700;
      }
    }
  }
  .order__aside {
    @include max-width(1024px) {
      margin: 0;
    }
  }
  .banner-block {
    display: block;

    @include max-width(1024px) {
      text-align: center;
    }

    img {
      width: 100%;
      max-width: 393px;
      height: 100%;
      max-height: 439px;
    }
  }
}
body .wrapper_page_order_form .social {
  padding: 96px 0 96px;
  background-image: unset;

  @include max-width(900px) {
    padding: 40px 0 40px;
  }
  .container {
    max-width: 1410px;
    padding: 0 30px;
    margin: 0 auto;

    @include max-width(767px) {
      padding: 0 15px;
    }
  }
  .social__title {
    text-align: left;
  }
  .social__wrapper {
    align-items: flex-start;
  }
}
.card-news--filled .card-news__title {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
}

.tags__title {
  @include max-width(768px) {
    margin-bottom: 12px;
  }
}

div.item-title {
  height: 48px;
}

.red_message {
  position: relative;
}

.pre_card-checkbox__custom.red {
  border: 1px solid red;
}

.red_message::before {
  position: absolute;
  top: -50px;
  left: -15px;
  width: 130px;
  padding: 8px;
  text-align: center;
  content: attr(data-text);
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}
.red_message::after {
  position: absolute;
  top: -18px;
  content: '';
  border: 8px solid transparent;
  border-top: 8px solid #fff;
}

.bx-soa-cart-conditions-text {
  .red_message::before {
    width: 150px;
  }
  .red_message::after {
    top: -16px;
  }
}

.bx-soa-cart-conditions {
  display: flex;
}

#modal-uslovia {
  .button--close,
  button.button--close {
    @include max-width(768px) {
      font-size: 20px;
    }
  }
  .modal {
    @include max-width(1366px) {
      padding: 40px 45px;
    }

    @include max-width(900px) {
      padding: 30px 35px;
    }

    @include max-width(768px) {
      max-width: 100%;
      padding: 20px 25px;
    }
  }
  .title_h1 {
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 600;

    @include max-width(900px) {
      font-size: 24px;
    }

    @include max-width(768px) {
      font-size: 20px;
    }
  }
  .title_h2 {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 23px;
    font-weight: 400;

    @include max-width(900px) {
      font-size: 20px;
    }

    @include max-width(768px) {
      font-size: 1px;
    }
  }
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.97);
  transition: all 0.5s ease;
}

.preloader.hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}

.preloader__icon {
  width: 50px;
  height: 50px;
  margin: auto;
  animation: rotate 2.5s ease infinite both;
}

@keyframes rotate {
  0% {
    transform: rotateY(0);
  }

  100% {
    transform: rotateY(360deg);
  }
}
#bx-soa-delivery {
  .bx-soa-pp .bx-soa-pp-company-item {
    .bx-soa-pp-company-inner {
      height: auto;
      min-height: 130px;
      .bx-soa-pp-company-label {
        span {
          display: none;
        }
        .hint {
          display: none;
        }
        &::before {
          display: block;
          background: transparent;
        }
      }
      &:hover {
        .bx-soa-pp-company-label::after {
          background: #211c1d;
          border-color: #211c1d;
          box-shadow: none;
        }
      }
    }
    .bx-soa-pp-company-inject {
      display: none;
    }
    .bx-soa-pp-company-label {
      display: flex;
      margin-bottom: 10px;
      span {
        margin-right: 5px;
      }
      .hint {
        position: relative;
        cursor: pointer;
      }
    }
    .bx-soa-pp-company-graf-container {
      position: absolute;
      top: 0;
      right: 16px;
      .bx-soa-pp-company-checkbox {
        top: 16px;
      }
    }
  }
  .bx-selected {
    .bx-soa-pp-company-inner {
      .bx-soa-pp-company-label::before {
        color: #fff;
        background: #211c1d !important;
      }
      &:hover {
        .bx-soa-pp-company-label::after {
          color: #fff;
          background: #fff !important;
          border-color: #211c1d;
          box-shadow: none;
        }
      }
    }
  }
}

.modal-wrapper--search {
  .input__clear {
    visibility: hidden !important;
  }
  &.active {
    .input__clear {
      visibility: visible !important;
    }
  }
}
