/* UI */
.button {
  &--gold {
    $linear: linear-gradient(
      244deg,
      #ebba75 -0.66%,
      #c58f44 18.49%,
      #ebba75 29.71%,
      #fff 45.22%,
      #ffe0b6 55.11%,
      #b78f58 72.25%,
      #f7d4a4 94.41%
    );

    $radial: radial-gradient(
      417.69% 2246.21% at 49.05% 50%,
      #ebba75 0%,
      #c58f44 10.5%,
      #fff 19.08%,
      #ffe0b6 23.53%,
      #b78f58 30.78%,
      #f7d4a4 41.63%,
      #ebba75 100%
    );

    color: $black;
    background: $linear, $radial;
  }
}

/* Main */
main {
  overflow: visible;
}

.wraps {
  &#content {
    z-index: auto;
  }

  > .wrapper_inner {
    z-index: auto;
    padding-bottom: 0;
  }
}

body {
  &[data-scroll-lock-locked='true'] {
    #headerfixed.fixed {
      z-index: 9;
    }

    .wrapper,
    .wrapper_inner,
    .wrapp,
    .wrapper1 > div {
      z-index: auto;
    }
  }
}

.drag-block.container {
  overflow: visible;
}

.viewed_product_block.fill > .wrapper_inner {
  border-bottom: none;
}

/* Header */
#header {
  z-index: 9;
  padding: 0;
  margin: 0;
}

.header__control {
  a {
    display: block;
    text-align: center;
  }

  .js-basket-block,
  > a > div {
    position: relative;
    display: inline-block;
    margin: auto;

    .svg {
      top: 0;
    }
  }
  span {
    font-size: 12px;
  }
}

.auth_wr_inner.with_dropdown {
  padding-right: 0 !important;

  &.header__control {
    > .svg.inline {
      display: none;
    }
  }
}

.header__list {
  &:not([id*='bx_']) {
    > li {
      &::before {
        content: none;
      }
    }
  }

  > .header__item {
    margin: 0;
  }
}

.header__item {
  &:last-child {
    .header__dropdown {
      right: 0;
      left: auto;
    }
  }

  .basket_hover_block {
    text-align: left;
  }

  .header__dropdown {
    margin-left: 0;

    > li {
      margin-left: 0;

      &::before {
        content: none;
      }
    }
  }
}

body #header {
  @include max-width(600px) {
    border-bottom: 1px solid #e0e0e0 !important;
  }
}

// aspro native mobile header
#mobileheader.visible-xs.visible-sm {
  @include max-width(767px) {
    display: none !important;
  }
}

body .wrapper1.mfixed_Y > div#mobileheader.fixed {
  display: none !important;
}

/* Menu */
.menu-slider__sublist {
  margin-left: 0;
}

.menu-slider__item {
  position: static;
}

.section-title {
  display: block;
  margin: 0 0 1em;
  font-family: $corm-garamond;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.4;

  b {
    color: $primary-active;
  }

  &--tac {
    text-align: center;
  }
}

/* Footer */
body #footer .copyright {
  color: $primary-hover;
}

.footer__body {
  align-items: flex-start;
  padding: 37px 0 12px;
}

.footer-cards__img {
  height: 23px;
}

body .block-items.flexbox.block-items--margined .block-item__wrapper .flexbox--row {
  justify-content: flex-start;
}

body .block-items.flexbox.block-items--margined .block-item__info {
  width: 100%;
}

/* slider */
.block-item__title a span {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.item-views.brands .list .item {
  margin-bottom: 0;
}

/* catalog filter */
.bx_filter_vertical input[type='checkbox'] + label::before {
  background: transparent;
}

.bx_filter_vertical input[type='checkbox']:checked + label::before,
.bx_filter_vertical input[type='checkbox'] + label:not(.disabled):hover::before {
  background: $black-3;
}

/* catalog dropdown */
.left_block {
  z-index: 2;
}

@media (max-width: 1200px) {
  .pre_blog-preview__list {
    margin: -10px -10px;
  }
}

@media (max-width: 600px) {
  .pre_blog-preview__list {
    margin: 0;
  }
}

/* pagingation catalog */
.bottom_nav {
  text-align: center;
}

/* form faq */
@media (max-width: 768px) {
  .form-faq {
    margin-bottom: 0;
  }
}

/* gallery slider */
.gallery-thumbs-slide {
  filter: grayscale(100%);
}
.gallery-thumbs-slide.swiper-slide-thumb-active {
  filter: grayscale(0%);
}

/* breadcrumbs */
.container-article-detail {
  position: relative;
}

.container-article-detail .breadcrumbs {
  position: absolute;
  top: 24px;
  left: 18px;
  z-index: 1;
  font-size: 14px;
  line-height: 140%;
}

.class_page_catalog .page-top > div {
  padding: 24px 0 0;
}
.class_page_catalog .page-top > div:last-of-type {
  padding: 36px 0 5px;
}

.class_page_blog .page-top > div {
  padding: 24px 0 0;
}
.class_page_blog .page-top > div:last-of-type {
  padding: 36px 0 32px;
}

.class_page_news .page-top > div {
  padding: 24px 0 0;
}
.class_page_news .page-top > div:last-of-type {
  padding: 36px 0 32px;
}

.class_page_buy .page-top > div {
  padding: 24px 0 0;
}
.class_page_buy .page-top > div:last-of-type {
  padding: 36px 0 36px;
}

.class_page_delivery .page-top > div {
  padding: 24px 0 0;
}
.class_page_delivery .page-top > div:last-of-type {
  padding: 36px 0 36px;
}

.class_page_payment .page-top > div {
  padding: 24px 0 0;
}
.class_page_payment .page-top > div:last-of-type {
  padding: 36px 0 36px;
}

.class_page_warranty .page-top > div {
  padding: 24px 0 0;
}
.class_page_warranty .page-top > div:last-of-type {
  padding: 36px 0 36px;
}

.class_page_info .page-top > div {
  padding: 24px 0 0;
}
.class_page_info .page-top > div:last-of-type {
  padding: 36px 0 36px;
}

.detail_page_catalog .page-top > div:last-of-type {
  padding: 24px 0 5px;
}

.class_page_second_partners .page-top > div {
  padding: 24px 0 0;
}
.class_page_second_partners .page-top > div:last-of-type {
  padding: 36px 0 32px;
}

@media (max-width: 768px) {
  .class_page_catalog .page-top > div {
    padding: 12px 0 0;
  }
  .class_page_catalog .page-top > div:last-of-type {
    padding: 12px 0 5px;
  }

  .class_page_blog .page-top > div {
    padding: 12px 0 0;
  }
  .class_page_blog .page-top > div:last-of-type {
    padding: 12px 0 32px;
  }

  .class_page_news .page-top > div {
    padding: 12px 0 0;
  }
  .class_page_news .page-top > div:last-of-type {
    padding: 12px 0 12px;
  }

  .class_page_buy .page-top > div {
    padding: 12px 0 0;
  }
  .class_page_buy .page-top > div:last-of-type {
    padding: 12px 0 12px;
  }

  .class_page_delivery .page-top > div {
    padding: 12px 0 0;
  }
  .class_page_delivery .page-top > div:last-of-type {
    padding: 12px 0 12px;
  }

  .class_page_payment .page-top > div {
    padding: 12px 0 0;
  }
  .class_page_payment .page-top > div:last-of-type {
    padding: 12px 0 12px;
  }

  .class_page_warranty .page-top > div {
    padding: 12px 0 0;
  }
  .class_page_warranty .page-top > div:last-of-type {
    padding: 12px 0 12px;
  }

  .class_page_info .page-top > div {
    padding: 12px 0 0;
  }
  .class_page_info .page-top > div:last-of-type {
    padding: 12px 0 12px;
  }

  .detail_page_catalog .page-top > div:last-of-type {
    padding: 12px 0 5px;
  }

  .class_page_second_partners .page-top > div {
    padding: 12px 0 0;
  }
  .class_page_second_partners .page-top > div:last-of-type {
    padding: 12px 0 12px;
  }
}

body .detail_page_catalog .maxwidth-theme {
  width: 100%;
  max-width: 1386px;
  padding: 0 18px;
}

/* Partners */
.page_company .with-text-block-wrapper > .row > div:first-of-type {
  padding-bottom: 144px;
}

.page_company .maxwidth-theme {
  max-width: 100%;
  padding: 0 18px;
}

@media (max-width: 1650px) {
  .item-views.brands .row.flexbox {
    flex-wrap: wrap;
  }
}

.company_innerPage {
  width: 100%;
  max-width: 1408px;
  padding: 0 30px;
  margin-top: 0;
}

@media (max-width: 767px) {
  .company_innerPage {
    padding: 0 15px;
  }
}

/* .catalog_card */
.catalog_item:hover {
  width: 100%;
  height: 100%;
}

@media (max-width: 1200px) {
  .wrapper1.with_left_block .col-lg-20 {
    width: calc(100% / 3);
  }
}

.catalog_item:hover .inner_wrap {
  position: absolute;
  width: 100%;
  height: auto !important;
}

.basket-wrapper-bd .owl-carousel.owl-theme.owl-bg-nav .owl-stage-outer {
  margin-bottom: 20px;
}

.header__control:not(:last-child) {
  margin-right: 24px;
}

.input-wrapper .input + .input__clear,
.label .input + .input__clear {
  padding: 0;
  visibility: visible;
  background: transparent;
  border: none;
  opacity: 1;

  --size: 28px;
}

.button-icon svg,
button.button-icon svg {
  width: 28px;
  height: 28px;
}

.header__search .input-wrapper .input {
  padding-right: 3.75em;
}

#title-search .button:hover,
button.button:hover {
  color: $yellow;
}

.footer__header {
  padding-bottom: 0;
}

.footer__pictures {
  display: block;
  padding-bottom: 40px;
}

.footer-social__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-cards {
  width: 100%;
  max-width: 310px;
}

.product-subcard__img {
  min-height: 122px;
  max-height: 122px;
}

.block_side_NORMAL .title-menu {
  font-weight: 400;
}

.filter-panel__filter .bx-filter-title span {
  font-weight: 400;
}

@media (max-width: 700px) {
  .banners {
    padding: 0;
  }
}

.right_block p {
  margin-bottom: 15px;
}

.items-list1.item-views.table .item .image img {
  margin: 0 auto;
}

.product__title {
  font-size: 32px;
}

.product__title b {
  display: inline-block;
}

.ext-widget-group {
  display: block;
  margin-top: 15px;
}

.ext-widget-group::after {
  content: none;
}
