.footer {
  color: $white;
  background-color: $black-2;

  .header-logo {
    margin: 0;
  }
}

.footer__header {
  display: flex;
  justify-content: space-between;
  padding: 40px 0 20px;

  @include max-width($touch) {
    padding: 28px 0 14px;
  }

  @include max-width($phone) {
    flex-direction: column;
    align-items: center;
    justify-content: unset;
  }

  .footer__left {
    @include max-width($touch) {
      margin-right: 20px;
      margin-bottom: 0;
    }

    @include max-width($phone) {
      display: flex;
      justify-content: center;
      margin-bottom: 28px;
    }
  }

  .footer__right {
    @include max-width($touch) {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }

    @include max-width($phone) {
      .button {
        width: 100%;
      }
    }
  }
}

.footer__left {
  width: 100%;
  max-width: 870px;
  margin-right: 60px;

  @include max-width($tablet) {
    margin-right: 40px;
  }

  @include max-width($touch) {
    max-width: none;
    margin-right: 0;
    margin-bottom: 28px;
  }
}

.footer__right {
  width: 100%;
  max-width: 310px;

  @include max-width($tablet) {
    max-width: 250px;
  }

  @include max-width($touch) {
    max-width: none;
  }
}

.footer__body {
  display: flex;
  justify-content: space-between;
  padding: 20px 0 40px;

  @include max-width($touch) {
    flex-direction: column;
    align-items: center;
    justify-content: unset;
    padding: 14px 0 28px;
  }

  .footer__right {
    display: flex;
    flex-direction: column;
  }

  .footer-cards {
    margin-top: auto;
  }
}

.footer__cols {
  display: flex;
  justify-content: space-between;

  @include max-width($touch) {
    flex-direction: column;
    justify-content: unset;
    margin-bottom: 28px;
  }
}

.footer__col {
  display: flex;
  flex-direction: column;

  @include max-width($touch) {
    padding: 14px 0;
    border-bottom: 1px solid $gray-extra-dark;
  }

  &:first-child {
    @include max-width($touch) {
      border-top: 1px solid $gray-extra-dark;
    }
  }

  &:not(:last-child) {
    margin-right: 32px;

    @include max-width($touch) {
      margin-right: 0;
    }
  }

  .logo {
    margin: 0 0 20px;

    @include max-width($touch) {
      max-width: 124px;
      height: 36px;
      margin: 0 0 16px;
    }
  }

  .checkbox-switch {
    margin-top: auto;

    @include max-width($touch) {
      display: none;
    }

    &__custom-wrapper {
      background-color: var(--primary-active);
    }

    &__custom {
      background-color: var(--bg-footer);
    }
  }
}

.footer-accordion {
  &[data-accordion] {
    .footer-accordion__button {
      @include max-width($touch) {
        margin-bottom: 0;
      }
    }

    .footer-accordion__content {
      @include max-width($touch) {
        height: 100%;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s ease;
      }
    }

    .footer__link {
      &:first-child {
        @include max-width($touch) {
          margin-top: 12px;
        }
      }
    }

    &.active {
      .footer-accordion__arrow {
        transform: rotate(270deg);
      }
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;

    @include max-width($touch) {
      margin-bottom: 12px;
    }
  }

  &__title {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.375;
    text-transform: uppercase;

    @include max-width($touch) {
      font-size: 14px;
      font-weight: normal;
    }
  }

  &__arrow {
    flex-shrink: 0;
    width: 1em;
    height: 1em;
    font-size: 20px;
    transform: rotate(90deg);

    @include min-width($touch + 1px) {
      display: none;
    }
  }
}

.footer__contacts {
  @include max-width($touch) {
    width: 100%;
    max-width: 280px;
    margin: 0 auto;
  }

  @include max-width($phone) {
    max-width: none;
  }
}

.footer__link {
  display: flex;
  align-items: baseline;
  font-size: 16px;
  line-height: 1.2;
  color: $white;
  transition: color 0.2s ease;

  @include max-width($touch) {
    font-size: 13px;

    .footer__contacts & {
      font-size: 16px;
    }
  }

  &--phone {
    @include max-width($touch) {
      font-size: 16px;
    }
  }

  &:not(:last-child) {
    margin-bottom: 8px;

    @include max-width($touch) {
      margin-bottom: 12px;
    }
  }

  &:not(.footer__link--text) {
    &:hover {
      color: $primary-hover;
      text-decoration: none;
    }
  }

  b {
    display: block;
    margin-bottom: 2px;
    font-size: 22px;
    font-weight: bold;
    line-height: 1.3636;
    color: currentColor;
  }

  p {
    line-height: 1.7;
  }
}

.footer__icon {
  flex-shrink: 0;
  width: 1em;
  height: 1em;
  margin-right: 12px;
  font-size: 20px;
  transform: translateY(5px);
}

.footer__info {
  margin-top: 34px;
  font-size: 16px;
  line-height: 1.75;

  @include max-width($touch) {
    margin-top: 20px;
    text-align: center;
  }
}

.footer__name {
  display: block;
  margin-bottom: 6px;
  font-weight: bold;
}

.footer__pictures {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
}

.footer-social {
  @include max-width($touch) {
    margin: 0 auto;
    text-align: center;
  }

  &__title {
    display: block;
    margin-bottom: 3px;
    font-size: 16px;
    line-height: 1.75;
  }

  &__wrap {
    overflow: hidden;
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    margin: -6px;
  }

  &__link {
    display: block;
    width: 1em;
    height: 1em;
    margin: 6px;
    overflow: hidden;
    font-size: 36px;
    border-radius: 50%;
  }

  &__icon {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.footer-cards {
  padding: 6px 0;
  overflow: hidden;

  &__wrap {
    display: flex;
    flex-wrap: wrap;
    margin: -2px;

    @include max-width($touch) {
      justify-content: center;
    }
  }

  &__link {
    display: block;
    margin: 2px;
    overflow: hidden;
    border-radius: 2px;
  }

  &__img {
    display: block;
    width: 100%;
    height: 24px;
    border-radius: 2px;
    object-fit: contain;
  }
}

.footer__footer {
  padding: 27px 0;
  text-align: center;
  border-top: 1px solid rgba($white, 0.1);

  @include max-width($touch) {
    padding: 20px 0;
  }
}

.copyright {
  font-size: 16px;
  line-height: 1.625;
  color: $primary-hover;

  @include max-width($touch) {
    font-size: 14px;
  }
}
