<div class="menu-slider">
  <div class="menu-slider__wrap">
    <ul class="menu-slider__list j_menu-slider">
      <li class="menu-slider__subitem">
        <a href="#" class="menu-slider__link">
          <span class="menu-slider__title">
            <svg class="svg">
              <use xlink:href="#icon-grid"></use>
            </svg>
            <span> Каталог </span>
          </span>
          <svg class="svg">
            <use xlink:href="#icon-arrow-right2"></use>
          </svg>
        </a>
      </li>
      <li class="menu-slider__subitem">
        <a href="#" class="menu-slider__link">
          <span class="menu-slider__title">
            <span> премиальные изделия </span>
          </span>
          <svg class="svg">
            <use xlink:href="#icon-arrow-right2"></use>
          </svg>
        </a>
      </li>
      <li class="menu-slider__item">
        <div role="button" class="menu-slider__button">
          <span class="menu-slider__title">
            <span> золото </span>
          </span>
          <svg class="svg">
            <use xlink:href="#icon-arrow-right2"></use>
          </svg>
        </div>

        <ul class="menu-slider__sublist" data-scroll-lock-scrollable>
          <li class="menu-slider__subitem">
            <span role="button" class="menu-slider__back j_menu-back">
              <svg class="svg">
                <use xlink:href="#icon-arrow-right"></use>
              </svg>
              <span> Назад </span>
            </span>
          </li>

          <li class="menu-slider__subitem">
            <div role="button" class="menu-slider__button">
              <span class="menu-slider__title">
                <span> Услуги </span>
              </span>
              <svg class="svg">
                <use xlink:href="#icon-arrow-right2"></use>
              </svg>
            </div>

            <ul class="menu-slider__sublist" data-scroll-lock-scrollable>
              <li class="menu-slider__subitem">
                <span role="button" class="menu-slider__back j_menu-back">
                  <svg class="svg">
                    <use xlink:href="#icon-arrow-right"></use>
                  </svg>
                  <span> Назад </span>
                </span>
              </li>

              <li class="menu-slider__subitem">
                <a href="#" class="menu-slider__link">
                  Единичные

                  <svg class="svg">
                    <use xlink:href="#icon-arrow-right2"></use>
                  </svg>
                </a>
              </li>

              <li class="menu-slider__subitem">
                <a href="#" class="menu-slider__link">
                  Коллекции

                  <svg class="svg">
                    <use xlink:href="#icon-arrow-right2"></use>
                  </svg>
                </a>
              </li>

              <li class="menu-slider__subitem">
                <a href="#" class="menu-slider__link">
                  Наборы

                  <svg class="svg">
                    <use xlink:href="#icon-arrow-right2"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="menu-slider__item">
        <div role="button" class="menu-slider__button">
          <span class="menu-slider__title">
            <span> серебро </span>
          </span>
          <svg class="svg">
            <use xlink:href="#icon-arrow-right2"></use>
          </svg>
        </div>

        <ul class="menu-slider__sublist" data-scroll-lock-scrollable>
          <li class="menu-slider__subitem">
            <span role="button" class="menu-slider__back j_menu-back">
              <svg class="svg">
                <use xlink:href="#icon-arrow-right"></use>
              </svg>
              <span> Назад </span>
            </span>
          </li>

          <li class="menu-slider__subitem">
            <div role="button" class="menu-slider__button">
              <span class="menu-slider__title">
                <span> Услуги </span>
              </span>
              <svg class="svg">
                <use xlink:href="#icon-arrow-right2"></use>
              </svg>
            </div>

            <ul class="menu-slider__sublist" data-scroll-lock-scrollable>
              <li class="menu-slider__subitem">
                <span role="button" class="menu-slider__back j_menu-back">
                  <svg class="svg">
                    <use xlink:href="#icon-arrow-right"></use>
                  </svg>
                  <span> Назад </span>
                </span>
              </li>

              <li class="menu-slider__subitem">
                <a href="#" class="menu-slider__link">
                  Единичные

                  <svg class="svg">
                    <use xlink:href="#icon-arrow-right2"></use>
                  </svg>
                </a>
              </li>

              <li class="menu-slider__subitem">
                <a href="#" class="menu-slider__link">
                  Коллекции

                  <svg class="svg">
                    <use xlink:href="#icon-arrow-right2"></use>
                  </svg>
                </a>
              </li>

              <li class="menu-slider__subitem">
                <a href="#" class="menu-slider__link">
                  Наборы

                  <svg class="svg">
                    <use xlink:href="#icon-arrow-right2"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </li>

      <li class="menu-slider__subitem">
        <a href="#" class="menu-slider__link">
          другие металлы
          <svg class="svg">
            <use xlink:href="#icon-arrow-right2"></use>
          </svg>
        </a>
      </li>
      <li class="menu-slider__subitem">
        <a href="#" class="menu-slider__link">
          монеты
          <svg class="svg">
            <use xlink:href="#icon-arrow-right2"></use>
          </svg>
        </a>
      </li>
      <li class="menu-slider__subitem">
        <a href="#" class="menu-slider__link">
          аксессуары
          <svg class="svg">
            <use xlink:href="#icon-arrow-right2"></use>
          </svg>
        </a>
      </li>
      <li class="menu-slider__item">
        <div role="button" class="menu-slider__button">
          <span class="menu-slider__title">
            <span> Информация </span>
          </span>
          <svg class="svg">
            <use xlink:href="#icon-arrow-right2"></use>
          </svg>
        </div>

        <ul class="menu-slider__sublist" data-scroll-lock-scrollable>
          <li class="menu-slider__subitem">
            <span role="button" class="menu-slider__back j_menu-back">
              <svg class="svg">
                <use xlink:href="#icon-arrow-right"></use>
              </svg>
              <span> Назад </span>
            </span>
          </li>

          <li class="menu-slider__subitem">
            <a href="#" class="menu-slider__link">
              Блог
            </a>
          </li>
          <li class="menu-slider__subitem">
            <a href="#" class="menu-slider__link">
              Новости
            </a>
          </li>
          <li class="menu-slider__subitem">
            <a href="#" class="menu-slider__link">
              Как купить
            </a>
          </li>
          <li class="menu-slider__subitem">
            <a href="#" class="menu-slider__link">
              Доставка
            </a>
          </li>
          <li class="menu-slider__subitem">
            <a href="#" class="menu-slider__link">
              Оплата
            </a>
          </li>
          <li class="menu-slider__subitem">
            <a href="#" class="menu-slider__link">
              Гарантии
            </a>
          </li>
          <li class="menu-slider__subitem">
            <a href="#" class="menu-slider__link">
              FAQ
            </a>
          </li>
          <li class="menu-slider__subitem">
            <a href="#" class="menu-slider__link">
              Контакты
            </a>
          </li>
        </ul>
      </li>
      <li class="menu-slider__subitem">
        <a href="#" class="menu-slider__link menu-slider__link--gray">
          <span class="menu-slider__title">
            <svg class="svg">
              <use xlink:href="#icon-profile"></use>
            </svg>
            <span> войти </span>
          </span>
          <svg class="svg">
            <use xlink:href="#icon-arrow-right2"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>
