<section class="option">
  <div class="option__header">
    <div class="option__banner">
      <img src="../../img/option-1.png" alt="">
    </div>
    <div class="option__info">
      <div class="option__title">Сделайте свою медаль совершенной с чистым золотом!</div>
      <div class="option__price">
        <span>1 420 руб</span>
        <p>Медаль, покрытая золотом</p>
      </div>
    </div>
  </div>
  <div class="option__body">
    <div class="option__descr">
      <p>Важный юбилей — 350 лет со дня рождения первого императора России — стоит того, чтобы увековечить в самом
        благородном чистом золоте!</p>
      <p> Это усовершенствование повышает ценность медали, делает источником настоящей гордости!</p>
    </div>
    <div class="option__controls">
      <button class="button button--yellow-empty">нет, спасибо</button>
      <button class="button button--yellow">да, заказать</button>
    </div>
  </div>
</section>