<div class="pagination">
  <div class="pagination__list">
    <a href="#" class="pagination__item">
      <svg class="pagination__arrow">
        <use xlink:href="#icon-arrow-left"></use>
      </svg>
    </a>
    <a href="#" class="pagination__item">1</a>
    <a href="#" class="pagination__item pagination__item--active">2</a>
    <a href="#" class="pagination__item">3</a>
    <span class="pagination__item">...</span>
    <a href="#" class="pagination__item">10</a>
    <a href="#" class="pagination__item">
      <svg class="pagination__arrow">
        <use xlink:href="#icon-arrow-right"></use>
      </svg>
    </a>
  </div>
</div><!-- End of .news__pagination-->