<!-- banners -->
<section class="banners">
  <div class="container">
    <!-- wrapper -->
    <div class="banners__wrapper">
      <!-- banner__slider -->
      <div data-delay="5000" data-speed="800" class="banners__slider swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="banner">
              <img src="../img/banner-bg-red.jpg" alt="" class="banner__bg" />

              <div class="banner__wrap">
                <div class="banner__content">
                  <p class="banner__text">
                    Памятная медаль для каждого россиянина в честь 350-ЛЕТия СО ДНЯ РОЖДЕНИЯ ПЕРВОГО РОССИЙСКОГО
                    ИМПЕРАТОРА ПЕТРА I
                  </p>

                  <ul class="banner__list">
                    <li class="banner__item">
                      <em class="banner__price">
                        0 руб
                      </em>

                      <span class="banner__name">
                        Цена <br />
                        медали
                      </span>
                    </li>
                    <li class="banner__item">
                      <em class="banner__price">
                        299 руб
                      </em>

                      <span class="banner__name">
                        Упаковка <br />
                        и пересылка
                      </span>
                    </li>
                    <li class="banner__item">
                      <em class="banner__price">
                        299 руб
                      </em>

                      <span class="banner__name">
                        Общая стоимость <br />
                        приобретения
                      </span>
                    </li>
                  </ul>

                  <a href="#" class="button button--gold banner__button">
                    Подробнее
                  </a>
                </div>
                <img src="../img/banner_img1.png" class="banner__image" />
                <img src="../img/banner_img1-mobile.png" class="banner__image banner__image--mobile" />

                <a href="#" class="button button--gold banner__button banner__button--mobile">
                  Подробнее
                </a>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="banner">
              <img src="../img/banner-bg-blue.jpg" alt="" class="banner__bg" />

              <div class="banner__wrap">
                <div class="banner__content">
                  <p class="banner__text">
                    Памятная медаль для каждого россиянина в честь 350-ЛЕТия СО ДНЯ РОЖДЕНИЯ ПЕРВОГО РОССИЙСКОГО
                    ИМПЕРАТОРА ПЕТРА II
                  </p>

                  <ul class="banner__list">
                    <li class="banner__item">
                      <em class="banner__price">
                        10 руб
                      </em>

                      <span class="banner__name">
                        Цена <br />
                        медали
                      </span>
                    </li>
                    <li class="banner__item">
                      <em class="banner__price">
                        1299 руб
                      </em>

                      <span class="banner__name">
                        Упаковка <br />
                        и пересылка
                      </span>
                    </li>
                    <li class="banner__item">
                      <em class="banner__price">
                        499 руб
                      </em>

                      <span class="banner__name">
                        Общая стоимость <br />
                        приобретения
                      </span>
                    </li>
                  </ul>

                  <a href="#" class="button button--gold banner__button">
                    Подробнее
                  </a>
                </div>
                <img src="../img/banner_img1.png" class="banner__image" />
                <img src="../img/banner_img1-mobile.png" class="banner__image banner__image--mobile" />

                <a href="#" class="button button--gold banner__button banner__button--mobile">
                  Подробнее
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-pagination banners-pagination"></div>
        <div class="banners-navigation">
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
      </div>
      <!-- ./ End of banner__slider -->
    </div>
    <!-- ./ End of wrapper -->
  </div>
</section>
<!-- ./ End of banners -->
