<!-- pre_blog -->
<section class="pre_blog-section pre_blog-section--preview">
  <div class="container">
    <!-- wrap -->
    <div class="pre_blog-wrap">
      <div class="pre_blog">
        <div class="pre_blog-header">
          <h2 class="pre_section-title"> Только самые <b>свежие новости</b>! </h2>

          <a href="#" class="pre_blog-link">
            все новости
            <svg class="pre_svg">
              <use xlink:href="#icon-arrow-right"></use>
            </svg>
          </a>
        </div>

        <div class="pre_blog-preview">
          <div class="pre_blog-preview__wrap">
            <div class="pre_blog-preview__left j_sticky">
              <div class="pre_blog-preview__list">
                <div class="pre_post pre_post--big">
                  <a
                    href="#"
                    title="«Императорский Монетный Двор» поддержал Благотворительный фонд «Движение вверх» на главных мероприятиях этой осени"
                    class="pre_post__img-wrapper"
                  >
                    <div class="pre_post__img-container">
                      <img src="https://via.placeholder.com/600x400.jpg" alt="" class="pre_post__img" />
                    </div>
                  </a>

                  <div class="pre_post__wrap">
                    <span class="pre_post__date-wrapper">
                      <svg class="pre_post__date-icon">
                        <use xlink:href="#icon-calendar"></use>
                      </svg>
                      <time class="pre_post__date"> 8 июля, 2021 </time>
                    </span>

                    <a href="#" class="h4 pre_post__title">
                      «Императорский Монетный Двор» поддержал Благотворительный фонд «Движение вверх» на главных
                      мероприятиях этой осени
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="pre_blog-preview__right">
              <div class="pre_blog-preview__list">
                <div class="pre_post">
                  <a
                    href="#"
                    title="«Императорский Монетный Двор» поддержал Благотворительный фонд «Движение вверх» на главных мероприятиях этой осени"
                    class="pre_post__img-wrapper"
                  >
                    <div class="pre_post__img-container">
                      <img src="https://via.placeholder.com/600x400.jpg" alt="" class="pre_post__img" />
                    </div>
                  </a>

                  <div class="pre_post__wrap">
                    <span class="pre_post__date-wrapper">
                      <svg class="pre_post__date-icon">
                        <use xlink:href="#icon-calendar"></use>
                      </svg>
                      <time class="pre_post__date"> 8 июля, 2021 </time>
                    </span>

                    <a href="#" class="h4 pre_post__title">
                      «Императорский Монетный Двор» поддержал Благотворительный фонд «Движение вверх» на главных
                      мероприятиях этой осени
                    </a>
                  </div>
                </div>
                <div class="pre_post">
                  <a
                    href="#"
                    title="«Императорский Монетный Двор» поддержал Благотворительный фонд «Движение вверх» на главных мероприятиях этой осени"
                    class="pre_post__img-wrapper"
                  >
                    <div class="pre_post__img-container">
                      <img src="https://via.placeholder.com/600x400.jpg" alt="" class="pre_post__img" />
                    </div>
                  </a>

                  <div class="pre_post__wrap">
                    <span class="pre_post__date-wrapper">
                      <svg class="pre_post__date-icon">
                        <use xlink:href="#icon-calendar"></use>
                      </svg>
                      <time class="pre_post__date"> 8 июля, 2021 </time>
                    </span>

                    <a href="#" class="h4 pre_post__title">
                      «Императорский Монетный Двор» поддержал Благотворительный фонд «Движение вверх» на главных
                      мероприятиях этой осени
                    </a>
                  </div>
                </div>
                <div class="pre_post">
                  <a
                    href="#"
                    title="«Императорский Монетный Двор» поддержал Благотворительный фонд «Движение вверх» на главных мероприятиях этой осени"
                    class="pre_post__img-wrapper"
                  >
                    <div class="pre_post__img-container">
                      <img src="https://via.placeholder.com/600x400.jpg" alt="" class="pre_post__img" />
                    </div>
                  </a>

                  <div class="pre_post__wrap">
                    <span class="pre_post__date-wrapper">
                      <svg class="pre_post__date-icon">
                        <use xlink:href="#icon-calendar"></use>
                      </svg>
                      <time class="pre_post__date"> 8 июля, 2021 </time>
                    </span>

                    <a href="#" class="h4 pre_post__title">
                      «Императорский Монетный Двор» поддержал Благотворительный фонд «Движение вверх» на главных
                      мероприятиях этой осени
                    </a>
                  </div>
                </div>
                <div class="pre_post">
                  <a
                    href="#"
                    title="«Императорский Монетный Двор» поддержал Благотворительный фонд «Движение вверх» на главных мероприятиях этой осени"
                    class="pre_post__img-wrapper"
                  >
                    <div class="pre_post__img-container">
                      <img src="https://via.placeholder.com/600x400.jpg" alt="" class="pre_post__img" />
                    </div>
                  </a>

                  <div class="pre_post__wrap">
                    <span class="pre_post__date-wrapper">
                      <svg class="pre_post__date-icon">
                        <use xlink:href="#icon-calendar"></use>
                      </svg>
                      <time class="pre_post__date"> 8 июля, 2021 </time>
                    </span>

                    <a href="#" class="h4 pre_post__title">
                      «Императорский Монетный Двор» поддержал Благотворительный фонд «Движение вверх» на главных
                      мероприятиях этой осени
                    </a>
                  </div>
                </div>
                <div class="pre_post">
                  <a
                    href="#"
                    title="«Императорский Монетный Двор» поддержал Благотворительный фонд «Движение вверх» на главных мероприятиях этой осени"
                    class="pre_post__img-wrapper"
                  >
                    <div class="pre_post__img-container">
                      <img src="https://via.placeholder.com/600x400.jpg" alt="" class="pre_post__img" />
                    </div>
                  </a>

                  <div class="pre_post__wrap">
                    <span class="pre_post__date-wrapper">
                      <svg class="pre_post__date-icon">
                        <use xlink:href="#icon-calendar"></use>
                      </svg>
                      <time class="pre_post__date"> 8 июля, 2021 </time>
                    </span>

                    <a href="#" class="h4 pre_post__title">
                      «Императорский Монетный Двор» поддержал Благотворительный фонд «Движение вверх» на главных
                      мероприятиях этой осени
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ./ End of wrap -->
  </div>
  <!-- ./ End of container -->
</section>
<!-- ./ End of pre_blog -->
