<section class="contacts">
  <div class="container">
    <div class="contacts__list">
      <div class="contacts__item">
        <div class="card-contact">
          <div class="card-contact__header">
            <div class="card-contact__title">Общая информация</div>
          </div>
          <div class="card-contact__body">
            <div class="card-contact__row">
              <svg class="card-contact__icon">
                <use xlink:href="#icon-phone"></use>
              </svg>
              <div class="card-contact__info">
                <div class="card-contact__sub-title">+7 (495) 974-29-77</div>
                <p class="card-contact__descr">Пн-Вс 9:00-21:00 (МСК)</p>
              </div>
            </div><!-- End of .card-contact__row-->
            <div class="card-contact__row">
              <svg class="card-contact__icon">
                <use xlink:href="#icon-mail"></use>
              </svg>
              <div class="card-contact__info">
                <p class="card-contact__descr">order@imdvor.ru</p>
              </div>
            </div><!-- End of .card-contact__row-->
            <div class="card-contact__row">
              <svg class="card-contact__icon">
                <use xlink:href="#icon-map-pin"></use>
              </svg>
              <div class="card-contact__info">
                <p class="card-contact__descr">111024, г. Москва, ул. 2-я Кабельная, дом 2, стр.19</p>
              </div>
            </div><!-- End of .card-contact__row-->
            <div class="card-contact__row">
              <svg class="card-contact__icon">
                <use xlink:href="#icon-info"></use>
              </svg>
              <div class="card-contact__info">
                <p class="card-contact__descr">ИНН: 7722777825 <br> ОГРН: 1127746433462</p>
              </div>
            </div><!-- End of .card-contact__row-->
          </div><!-- End of .card-contact__body-->
        </div><!-- End of .card-contact-->
      </div><!-- End of .contacts__item-->
      <div class="contacts__item">
        <div class="card-contact">
          <div class="card-contact__header">
            <div class="card-contact__title">Отдел обслуживания клиентов</div>
          </div>
          <div class="card-contact__body">
            <div class="card-contact__row">
              <svg class="card-contact__icon">
                <use xlink:href="#icon-phone"></use>
              </svg>
              <div class="card-contact__info">
                <div class="card-contact__sub-title">+7 (495) 974-29-77</div>
                <p class="card-contact__descr">Пн-Вс 9:00-21:00 (МСК)</p>
                <a href="#" class="card-contact__link">Заказать обратный звонок</a>
              </div>
            </div><!-- End of .card-contact__row-->
            <div class="card-contact__row">
              <svg class="card-contact__icon">
                <use xlink:href="#icon-mail"></use>
              </svg>
              <div class="card-contact__info">
                <p class="card-contact__descr">order@imdvor.ru</p>
              </div>
            </div><!-- End of .card-contact__row-->
            <div class="card-contact__row">
              <svg class="card-contact__icon">
                <use xlink:href="#icon-map-pin"></use>
              </svg>
              <div class="card-contact__info">
                <p class="card-contact__descr">111024, г. Москва, ул. 2-я Кабельная, дом 2, стр.19</p>
              </div>
            </div><!-- End of .card-contact__row-->
          </div><!-- End of .card-contact__body-->
        </div><!-- End of .card-contact-->
      </div><!-- End of .contacts__item-->
      <div class="contacts__item">
        <div class="card-contact">
          <div class="card-contact__header">
            <div class="card-contact__title">Контакты для прессы</div>
          </div>
          <div class="card-contact__body">
            <div class="card-contact__row">
              <svg class="card-contact__icon">
                <use xlink:href="#icon-user"></use>
              </svg>
              <div class="card-contact__info">
                <div class="card-contact__sub-title">Смирнова Анастасия </div>
                <p class="card-contact__descr">Менеджер по связям <br> с общественностью</p>
              </div>
            </div><!-- End of .card-contact__row-->
            <div class="card-contact__row">
              <svg class="card-contact__icon">
                <use xlink:href="#icon-mail"></use>
              </svg>
              <div class="card-contact__info">
                <p class="card-contact__descr">asmirnova@imdvor.ru </p>
              </div>
            </div><!-- End of .card-contact__row-->
          </div><!-- End of .card-contact__body-->
        </div><!-- End of .card-contact-->
      </div><!-- End of .contacts__item-->
    </div><!-- End of .contacts__list-->
  </div>
</section>