<section class="faq">
  <div class="container">
    <div class="faq__wrapper">
      <div class="faq__aside aside">

        <div class="aside-menu">
          <ul class="aside-menu__list">
            <li class="aside-menu__item"><a href="#" class="aside-menu__link">Магазины</a></li>
            <li class="aside-menu__item"><a href="#" class="aside-menu__link">Условия оплаты</a></li>
            <li class="aside-menu__item"><a href="#" class="aside-menu__link">Условия доставки</a></li>
            <li class="aside-menu__item"><a href="#" class="aside-menu__link">Гарантия на товар</a></li>
            <li class="aside-menu__item"><a href="#" class="aside-menu__link">Реквизиты</a></li>
            <li class="aside-menu__item"><a href="#" class="aside-menu__link">Политика</a></li>
          </ul>
        </div>

        <div class="aside-menu">
          <ul class="aside-menu__list">
            <li class="aside-menu__item">
              <a href="#" class="aside-menu__link">
                <svg class="aside-menu__icon">
                  <use xlink:href="#icon-phone"></use>
                </svg>
                <span>Магазины</span>
              </a>
            </li>

            <li class="aside-menu__item">
              <a href="#" class="aside-menu__link">
                <svg class="aside-menu__icon">
                  <use xlink:href="#icon-mail"></use>
                </svg>
                <span>Задать вопрос</span>
              </a>
            </li>

            <li class="aside-menu__item">
              <a href="#" class="aside-menu__link">
                <svg class="aside-menu__icon">
                  <use xlink:href="#icon-review"></use>
                </svg>
                <span>Оставить отзыв</span>
              </a>
            </li>
          </ul>
        </div>

        <div class="aside-blog">
          <div class="aside-blog__title">Статьи</div>
          <div class="aside-blog__slider">
            <!-- Card News -->
          </div>
        </div>

      </div><!-- End of .faq__aside-->
      <div class="faq__inner">

        <p>В данном разделе приведены ответа на часто задаваемые вопросы посетителей Вашего будущего сайта.
          Использование данного раздела позволит сократить нагрузку на операторов и повысить удовлетворенность ваших
          клиентов. </p>

        <!-- tabs -->
        <div class="faq__tabs" data-tabs="faq">
          <button class="faq__tab active" data-tab="1">Возврат</button>
          <button class="faq__tab" data-tab="2">Доставка</button>
          <button class="faq__tab" data-tab="3">Оплата</button>
          <button class="faq__tab" data-tab="4">Личный кабинтет</button>
          <button class="faq__tab" data-tab="5">Юридическим лицам</button>
        </div>
        <!-- ./ End of tabs -->
        <!-- contents -->
        <div class="faq__contents" data-tabs-contents="faq">
          <!-- content -->
          <div class="faq__content active" data-tab-content="1" id="faq">

            <!-- Блок с Акардеоном -->

          </div><!-- End of .faq__content -->
        </div><!-- End of .faq__contents -->

        <form action=""></form>
        <!-- Не нашли ответ на свой вопрос?  -->

      </div><!-- End of .faq__inner-->
    </div><!-- End of .faq__wrapper-->
  </div>
</section>