<section class="faq">
  <div class="container">
    <div class="faq__wrapper">
      <div class="faq__aside aside">

        <div class="aside-menu">
          <ul class="aside-menu__list">
            <li class="aside-menu__item"><a href="#" class="aside-menu__link">Магазины</a></li>
            <li class="aside-menu__item"><a href="#" class="aside-menu__link">Условия оплаты</a></li>
            <li class="aside-menu__item"><a href="#" class="aside-menu__link">Условия доставки</a></li>
            <li class="aside-menu__item"><a href="#" class="aside-menu__link">Гарантия на товар</a></li>
            <li class="aside-menu__item"><a href="#" class="aside-menu__link">Реквизиты</a></li>
            <li class="aside-menu__item"><a href="#" class="aside-menu__link">Политика</a></li>
          </ul>
        </div>

        <div class="aside-menu">
          <ul class="aside-menu__list">
            <li class="aside-menu__item">
              <a href="#" class="aside-menu__link">
                <svg class="aside-menu__icon">
                  <use xlink:href="#icon-phone"></use>
                </svg>
                <span>Магазины</span>
              </a>
            </li>

            <li class="aside-menu__item">
              <a href="#" class="aside-menu__link">
                <svg class="aside-menu__icon">
                  <use xlink:href="#icon-mail"></use>
                </svg>
                <span>Задать вопрос</span>
              </a>
            </li>

            <li class="aside-menu__item">
              <a href="#" class="aside-menu__link">
                <svg class="aside-menu__icon">
                  <use xlink:href="#icon-review"></use>
                </svg>
                <span>Оставить отзыв</span>
              </a>
            </li>
          </ul>
        </div>

        <div class="aside-blog">
          <div class="aside-blog__title">Статьи</div>
          <div class="aside-blog__slider swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="card-news">
                  <a href="#" class="card-news__banner">
                    <img src="../img/news/news-img-1.jpg" alt="">
                  </a>
                  <div class="card-news__content">
                    <div class="card-news__date">
                      <svg>
                        <use xlink:href="#icon-calendar"></use>
                      </svg>
                      <span>1 июля, 2021</span>
                    </div>
                    <a href="#" class="card-news__title">«Императорский Монетный Двор» и Музей Победы открывают новую
                      страницу сотрудничества выставкой «Великая Отечественная война в современном медальерном</a>
                    <div class="card-news__tag-list">
                      <div class="card-news__tag">#музеи</div>
                      <div class="card-news__tag">#выставки</div>
                      <div class="card-news__tag">#история</div>
                      <div class="card-news__tag">#монеты</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="card-news">
                  <a href="#" class="card-news__banner">
                    <img src="../img/news/news-img-1.jpg" alt="">
                  </a>
                  <div class="card-news__content">
                    <div class="card-news__date">
                      <svg>
                        <use xlink:href="#icon-calendar"></use>
                      </svg>
                      <span>1 июля, 2021</span>
                    </div>
                    <a href="#" class="card-news__title">«Императорский Монетный Двор» и Музей Победы открывают новую
                      страницу сотрудничества выставкой «Великая Отечественная война в современном медальерном</a>
                    <div class="card-news__tag-list">
                      <div class="card-news__tag">#музеи</div>
                      <div class="card-news__tag">#выставки</div>
                      <div class="card-news__tag">#история</div>
                      <div class="card-news__tag">#монеты</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="card-news">
                  <a href="#" class="card-news__banner">
                    <img src="../img/news/news-img-1.jpg" alt="">
                  </a>
                  <div class="card-news__content">
                    <div class="card-news__date">
                      <svg>
                        <use xlink:href="#icon-calendar"></use>
                      </svg>
                      <span>1 июля, 2021</span>
                    </div>
                    <a href="#" class="card-news__title">«Императорский Монетный Двор» и Музей Победы открывают новую
                      страницу сотрудничества выставкой «Великая Отечественная война в современном медальерном</a>
                    <div class="card-news__tag-list">
                      <div class="card-news__tag">#музеи</div>
                      <div class="card-news__tag">#выставки</div>
                      <div class="card-news__tag">#история</div>
                      <div class="card-news__tag">#монеты</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div><!-- End of .aside-blog-->

      </div><!-- End of .faq__aside-->
      <div class="faq__inner">

        <div class="faq__headline">
          <p>В данном разделе приведены ответа на часто задаваемые вопросы посетителей Вашего будущего сайта.
            Использование данного раздела позволит сократить нагрузку на операторов и повысить удовлетворенность ваших
            клиентов.</p>
        </div>

        <!-- tabs -->
        <div class="faq__tabs" data-tabs="faq">
          <button class="faq__tab active" data-tab="1">Возврат</button>
          <button class="faq__tab" data-tab="2">Доставка</button>
          <button class="faq__tab" data-tab="3">Оплата</button>
          <button class="faq__tab" data-tab="4">Личный кабинтет</button>
          <button class="faq__tab" data-tab="5">Юридическим лицам</button>
        </div>
        <!-- ./ End of tabs -->
        <!-- contents -->
        <div class="faq__contents" data-tabs-contents="faq">
          <!-- content -->
          <div class="faq__content active" data-tab-content="1" id="faq">
            <div class="faq__accordion" data-accordion="faq-1">
              <button class="faq__accordion-button accordion-button">
                <p class="faq__accordion-title">Как вернуть товар?</p>
                <div class="faq__accordion-icon">
                  <svg class="faq__accordion-svg">
                    <use xlink:href="#icon-chevron-down"></use>
                  </svg>
                </div>
              </button>
              <div class="faq__accordion-hidden accordion-content">
                <div class="faq__accordion-content">
                  <p>Денежные средства за возврат товара поступают вам в течении месяца с момента получения товара
                    компанией, деньги направляются вам почтовым переводом.</p>
                </div>
              </div>
            </div>
            <div class="faq__accordion" data-accordion="faq-2">
              <button class="faq__accordion-button accordion-button">
                <p class="faq__accordion-title">Когда и как вернутся деньги</p>
                <div class="faq__accordion-icon">
                  <svg class="faq__accordion-svg">
                    <use xlink:href="#icon-chevron-down"></use>
                  </svg>
                </div>
              </button>
              <div class="faq__accordion-hidden accordion-content">
                <div class="faq__accordion-content">
                  <p>Денежные средства за возврат товара поступают вам в течении месяца с момента получения товара
                    компанией, деньги направляются вам почтовым переводом.</p>
                </div>
              </div>
            </div>
            <div class="faq__accordion" data-accordion="faq-3">
              <button class="faq__accordion-button accordion-button">
                <p class="faq__accordion-title">Когда и как вернутся деньги</p>
                <div class="faq__accordion-icon">
                  <svg class="faq__accordion-svg">
                    <use xlink:href="#icon-chevron-down"></use>
                  </svg>
                </div>
              </button>
              <div class="faq__accordion-hidden accordion-content">
                <div class="faq__accordion-content">
                  <p>Денежные средства за возврат товара поступают вам в течении месяца с момента получения товара
                    компанией, деньги направляются вам почтовым переводом.</p>
                </div>
              </div>
            </div>
          </div><!-- End of .faq__content -->
          <!-- content -->
          <div class="faq__content active" data-tab-content="2">
            <div class="faq__accordion" data-accordion="faq-1">
              <button class="faq__accordion-button accordion-button">
                <p class="faq__accordion-title">Как вернуть товар?</p>
                <div class="faq__accordion-icon">
                  <svg class="faq__accordion-svg">
                    <use xlink:href="#icon-chevron-down"></use>
                  </svg>
                </div>
              </button>
              <div class="faq__accordion-hidden accordion-content">
                <div class="faq__accordion-content">
                  <p>Денежные средства за возврат товара поступают вам в течении месяца с момента получения товара
                    компанией, деньги направляются вам почтовым переводом.</p>
                </div>
              </div>
            </div>
            <div class="faq__accordion" data-accordion="faq-2">
              <button class="faq__accordion-button accordion-button">
                <p class="faq__accordion-title">Когда и как вернутся деньги</p>
                <div class="faq__accordion-icon">
                  <svg class="faq__accordion-svg">
                    <use xlink:href="#icon-chevron-down"></use>
                  </svg>
                </div>
              </button>
              <div class="faq__accordion-hidden accordion-content">
                <div class="faq__accordion-content">
                  <p>Денежные средства за возврат товара поступают вам в течении месяца с момента получения товара
                    компанией, деньги направляются вам почтовым переводом.</p>
                </div>
              </div>
            </div>
            <div class="faq__accordion" data-accordion="faq-3">
              <button class="faq__accordion-button accordion-button">
                <p class="faq__accordion-title">Когда и как вернутся деньги</p>
                <div class="faq__accordion-icon">
                  <svg class="faq__accordion-svg">
                    <use xlink:href="#icon-chevron-down"></use>
                  </svg>
                </div>
              </button>
              <div class="faq__accordion-hidden accordion-content">
                <div class="faq__accordion-content">
                  <p>Денежные средства за возврат товара поступают вам в течении месяца с момента получения товара
                    компанией, деньги направляются вам почтовым переводом.</p>
                </div>
              </div>
            </div>
          </div><!-- End of .faq__content -->
          <!-- content -->
          <div class="faq__content active" data-tab-content="3">
            <div class="faq__accordion" data-accordion="faq-1">
              <button class="faq__accordion-button accordion-button">
                <p class="faq__accordion-title">Как вернуть товар?</p>
                <div class="faq__accordion-icon">
                  <svg class="faq__accordion-svg">
                    <use xlink:href="#icon-chevron-down"></use>
                  </svg>
                </div>
              </button>
              <div class="faq__accordion-hidden accordion-content">
                <div class="faq__accordion-content">
                  <p>Денежные средства за возврат товара поступают вам в течении месяца с момента получения товара
                    компанией, деньги направляются вам почтовым переводом.</p>
                </div>
              </div>
            </div>
            <div class="faq__accordion" data-accordion="faq-2">
              <button class="faq__accordion-button accordion-button">
                <p class="faq__accordion-title">Когда и как вернутся деньги</p>
                <div class="faq__accordion-icon">
                  <svg class="faq__accordion-svg">
                    <use xlink:href="#icon-chevron-down"></use>
                  </svg>
                </div>
              </button>
              <div class="faq__accordion-hidden accordion-content">
                <div class="faq__accordion-content">
                  <p>Денежные средства за возврат товара поступают вам в течении месяца с момента получения товара
                    компанией, деньги направляются вам почтовым переводом.</p>
                </div>
              </div>
            </div>
            <div class="faq__accordion" data-accordion="faq-3">
              <button class="faq__accordion-button accordion-button">
                <p class="faq__accordion-title">Когда и как вернутся деньги</p>
                <div class="faq__accordion-icon">
                  <svg class="faq__accordion-svg">
                    <use xlink:href="#icon-chevron-down"></use>
                  </svg>
                </div>
              </button>
              <div class="faq__accordion-hidden accordion-content">
                <div class="faq__accordion-content">
                  <p>Денежные средства за возврат товара поступают вам в течении месяца с момента получения товара
                    компанией, деньги направляются вам почтовым переводом.</p>
                </div>
              </div>
            </div>
          </div><!-- End of .faq__content -->
          <!-- content -->
          <div class="faq__content active" data-tab-content="4">
            <div class="faq__accordion" data-accordion="faq-1">
              <button class="faq__accordion-button accordion-button">
                <p class="faq__accordion-title">Как вернуть товар?</p>
                <div class="faq__accordion-icon">
                  <svg class="faq__accordion-svg">
                    <use xlink:href="#icon-chevron-down"></use>
                  </svg>
                </div>
              </button>
              <div class="faq__accordion-hidden accordion-content">
                <div class="faq__accordion-content">
                  <p>Денежные средства за возврат товара поступают вам в течении месяца с момента получения товара
                    компанией, деньги направляются вам почтовым переводом.</p>
                </div>
              </div>
            </div>
            <div class="faq__accordion" data-accordion="faq-2">
              <button class="faq__accordion-button accordion-button">
                <p class="faq__accordion-title">Когда и как вернутся деньги</p>
                <div class="faq__accordion-icon">
                  <svg class="faq__accordion-svg">
                    <use xlink:href="#icon-chevron-down"></use>
                  </svg>
                </div>
              </button>
              <div class="faq__accordion-hidden accordion-content">
                <div class="faq__accordion-content">
                  <p>Денежные средства за возврат товара поступают вам в течении месяца с момента получения товара
                    компанией, деньги направляются вам почтовым переводом.</p>
                </div>
              </div>
            </div>
            <div class="faq__accordion" data-accordion="faq-3">
              <button class="faq__accordion-button accordion-button">
                <p class="faq__accordion-title">Когда и как вернутся деньги</p>
                <div class="faq__accordion-icon">
                  <svg class="faq__accordion-svg">
                    <use xlink:href="#icon-chevron-down"></use>
                  </svg>
                </div>
              </button>
              <div class="faq__accordion-hidden accordion-content">
                <div class="faq__accordion-content">
                  <p>Денежные средства за возврат товара поступают вам в течении месяца с момента получения товара
                    компанией, деньги направляются вам почтовым переводом.</p>
                </div>
              </div>
            </div>
          </div><!-- End of .faq__content -->
          <!-- content -->
          <div class="faq__content active" data-tab-content="5">
            <div class="faq__accordion" data-accordion="faq-1">
              <button class="faq__accordion-button accordion-button">
                <p class="faq__accordion-title">Как вернуть товар?</p>
                <div class="faq__accordion-icon">
                  <svg class="faq__accordion-svg">
                    <use xlink:href="#icon-chevron-down"></use>
                  </svg>
                </div>
              </button>
              <div class="faq__accordion-hidden accordion-content">
                <div class="faq__accordion-content">
                  <p>Денежные средства за возврат товара поступают вам в течении месяца с момента получения товара
                    компанией, деньги направляются вам почтовым переводом.</p>
                </div>
              </div>
            </div>
            <div class="faq__accordion" data-accordion="faq-2">
              <button class="faq__accordion-button accordion-button">
                <p class="faq__accordion-title">Когда и как вернутся деньги</p>
                <div class="faq__accordion-icon">
                  <svg class="faq__accordion-svg">
                    <use xlink:href="#icon-chevron-down"></use>
                  </svg>
                </div>
              </button>
              <div class="faq__accordion-hidden accordion-content">
                <div class="faq__accordion-content">
                  <p>Денежные средства за возврат товара поступают вам в течении месяца с момента получения товара
                    компанией, деньги направляются вам почтовым переводом.</p>
                </div>
              </div>
            </div>
            <div class="faq__accordion" data-accordion="faq-3">
              <button class="faq__accordion-button accordion-button">
                <p class="faq__accordion-title">Когда и как вернутся деньги</p>
                <div class="faq__accordion-icon">
                  <svg class="faq__accordion-svg">
                    <use xlink:href="#icon-chevron-down"></use>
                  </svg>
                </div>
              </button>
              <div class="faq__accordion-hidden accordion-content">
                <div class="faq__accordion-content">
                  <p>Денежные средства за возврат товара поступают вам в течении месяца с момента получения товара
                    компанией, деньги направляются вам почтовым переводом.</p>
                </div>
              </div>
            </div>
          </div><!-- End of .faq__content -->

        </div><!-- End of .faq__contents -->

        ${require('../templates/form-faq.html')}

      </div><!-- End of .faq__inner-->
    </div><!-- End of .faq__wrapper-->
  </div>
</section>