<!-- footer -->
<footer class="footer">
  <div class="container">
    <div class="footer__wrap">
      <div class="footer__header">
        <div class="footer__left">
          <a href="#" class="header-logo" title="ИМПЕРАТОРСКИЙ МОНЕТНЫЙ ДВОР">
            <img src="../img/footer-logo.svg" alt="ИМПЕРАТОРСКИЙ МОНЕТНЫЙ ДВОР" class="header-logo__img" />
          </a>
        </div>

        <div class="footer__right">
          <button class="button button--brown button--secondary" type="button">
            обратный звонок
          </button>
        </div>
      </div>

      <div class="footer__body">
        <div class="footer__left">
          <div class="footer__cols">
            <div class="footer__col">
              <div data-accordion="footer-accordion" class="footer-accordion">
                <div class="footer-accordion__button accordion-button">
                  <span class="footer-accordion__title"> Каталог </span>

                  <svg class="footer-accordion__arrow">
                    <use xlink:href="#icon-arrow-right2"></use>
                  </svg>
                </div>

                <div class="footer-accordion__content accordion-content">
                  <nav class="footer__nav">
                    <a href="#" class="footer__link"> Премиум </a>
                    <a href="#" class="footer__link"> Золото </a>
                    <a href="#" class="footer__link"> Серебро </a>
                    <a href="#" class="footer__link"> Другие металлы </a>
                    <a href="#" class="footer__link"> Монеты </a>
                    <a href="#" class="footer__link"> Аксессуары </a>
                  </nav>
                </div>
              </div>
            </div>

            <div class="footer__col">
              <div data-accordion="footer-accordion" class="footer-accordion">
                <div class="footer-accordion__button accordion-button">
                  <span class="footer-accordion__title"> КАК КУПИТЬ </span>

                  <svg class="footer-accordion__arrow">
                    <use xlink:href="#icon-arrow-right2"></use>
                  </svg>
                </div>

                <div class="footer-accordion__content accordion-content">
                  <nav class="footer__nav">
                    <a href="#" class="footer__link"> Оплата </a>
                    <a href="#" class="footer__link"> Доставка </a>
                    <a href="#" class="footer__link"> Гарантии </a>
                    <a href="#" class="footer__link"> Соглашение об условиях заказа </a>
                    <a href="#" class="footer__link"> Возвраты и рекламации </a>
                    <a href="#" class="footer__link"> Безопасность совершения покупок </a>
                    <a href="#" class="footer__link"> Обработка персональных данных </a>
                  </nav>
                </div>
              </div>
            </div>

            <div class="footer__col">
              <div data-accordion="footer-accordion" class="footer-accordion">
                <div class="footer-accordion__button accordion-button">
                  <span class="footer-accordion__title"> КОМПАНИЯ </span>

                  <svg class="footer-accordion__arrow">
                    <use xlink:href="#icon-arrow-right2"></use>
                  </svg>
                </div>

                <div class="footer-accordion__content accordion-content">
                  <nav class="footer__nav">
                    <a href="#" class="footer__link"> О компании </a>
                    <a href="#" class="footer__link"> Пресса о нас </a>
                    <a href="#" class="footer__link"> Партнёры </a>
                    <a href="#" class="footer__link"> Отзывы </a>
                    <a href="#" class="footer__link"> Контакты </a>
                    <a href="#" class="footer__link"> FAQ </a>
                    <a href="#" class="footer__link"> Благодарственные письма </a>
                    <a href="#" class="footer__link"> Вакансии </a>
                  </nav>
                </div>
              </div>
            </div>
          </div>

          <div class="footer__pictures">
            <div class="footer-social">
              <span class="footer-social__title"> Мы в соц. сетях </span>

              <div class="footer-social__wrap">
                <div class="footer-social__inner">
                  <a href="#" class="footer-social__link">
                    <svg class="footer-social__icon">
                      <use xlink:href="#icon-fb"></use>
                    </svg>
                  </a>
                  <a href="#" class="footer-social__link">
                    <svg class="footer-social__icon">
                      <use xlink:href="#icon-vk"></use>
                    </svg>
                  </a>
                  <a href="#" class="footer-social__link">
                    <svg class="footer-social__icon">
                      <use xlink:href="#icon-inst"></use>
                    </svg>
                  </a>
                  <a href="#" class="footer-social__link">
                    <svg class="footer-social__icon">
                      <use xlink:href="#icon-ok"></use>
                    </svg>
                  </a>
                  <a href="#" class="footer-social__link">
                    <svg class="footer-social__icon">
                      <use xlink:href="#icon-yb"></use>
                    </svg>
                  </a>
                  <a href="#" class="footer-social__link">
                    <svg class="footer-social__icon">
                      <use xlink:href="#icon-pp"></use>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="footer__right">
          <div class="footer__contacts">
            <nav class="footer__nav">
              <a href="#" class="footer__link footer__link--phone">
                <svg class="footer__icon">
                  <use xlink:href="#icon-header-phone"></use>
                </svg>

                <div>
                  <b>
                    +7 (495) 974-29-77
                  </b>

                  <p>
                    Пн-Вс 9:00-21:00 (МСК)
                  </p>
                </div>
              </a>

              <p class="footer__link footer__link--text">
                <svg class="footer__icon">
                  <use xlink:href="#icon-mark"></use>
                </svg>

                111024, г. Москва, ул. 2-я Кабельная, дом 2, стр.19
              </p>

              <div class="footer__info">
                <p class="footer__name">
                  ООО "Императорский монетный двор"
                </p>

                <p class="foooter__ogrn">
                  ОГРН: 112776433462
                </p>
              </div>
            </nav>
          </div>

          <div class="footer-cards">
            <div class="footer-cards__wrap">
              <a href="#" class="footer-cards__link">
                <img src="../img/footer_img1.jpg" alt="" class="footer-cards__img" />
              </a>
              <a href="#" class="footer-cards__link">
                <img src="../img/footer_img2.jpg" alt="" class="footer-cards__img" />
              </a>
              <a href="#" class="footer-cards__link">
                <img src="../img/footer_img3.jpg" alt="" class="footer-cards__img" />
              </a>
              <a href="#" class="footer-cards__link">
                <img src="../img/footer_img4.jpg" alt="" class="footer-cards__img" />
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="footer__footer">
        <p class="copyright">
          © ООО "Императорский монетный двор", 2021
        </p>
      </div>
    </div>
  </div>
</footer>
<!-- ./ End of footer -->
