<section class="form-faq">
  <form action="">
    <div class="form-faq__wrapper">
      <div class="form-faq__icon">
        <img src="../img/research.svg" alt="">
      </div>
      <div class="form-faq__info">
        <div class="h2 form-faq__title"><span>Не нашли</span> ответ на свой вопрос?</div>
        <p class="form-faq__descr">Свяжитесь с нами — мы предоставим необходимую информацию</p>
      </div>
      <button class="form-faq__button button">написать сообщение</button>
    </div>
  </form>
</section>