<div class="form-question">
  <div class="container">
    <form>
      <div class="form-question__wrapper">
        <div class="form-question__headline">
          <h2 class="form-question__title">Есть вопросы? <br> Мы <span>с радостью проконсультируем</span></h2>
        </div>
        <div class="form-question__body">
          <div class="form-question__fields">
            <div class="form-group form-question__field">
              <input id="question-name" type="text" class="form-question__input" required>
              <label for="question-name" class="form-question__label">Имя*</label>
            </div>
            <div class="form-group form-question__field">
              <input id="question-last-name" type="text" class="form-question__input" required>
              <label for="question-last-name" class="form-question__label">Фамилия*</label>
            </div>
            <div class="form-group form-question__field form-question__field--full">
              <input id="question-email" type="text" class="form-question__input" required>
              <label for="question-email" class="form-question__label">Электронная почта*</label>
            </div>
            <div class="form-group form-question__field form-question__field--full">
              <textarea placeholder="Ваше сообщение" class="form-question__textarea"></textarea>
            </div>
          </div>
          <div class="form-question__controls">
            <div class="form-question__policy">
              <input id="policy-check-1" type="checkbox">
              <label for="policy-check-1">Я согласен с <a href="#">условиями</a> заказа медали, в том числе
                с <a href="#">Соглашением об условиях заказа</a> и с <a href="#">Политикой
                  обработки персональных данных</a></label>
            </div>
            <button class="form-question__button button button--black">Отправить</button>
          </div>

        </div>
      </div>
    </form>
  </div>
</div>