<!-- pre_interesting -->
<section class="pre_interesting-section">
  <div class="container">
    <div class="pre_interesting">
      <div class="pre_interesting__wrap">
        <div class="pre_interesting__left">
          <h2 class="section-title"> Все <b>самое интересное</b> в блоге! </h2>

          <p class="pre_interesting__text">
            Наша цель помочь покупателям не только расширить свои коллекции, но и увеличить багаж знаний по тематикам
            собранных экспонатов.
          </p>

          <a href="#" class="pre_blog-link">
            все статьи
            <svg class="pre_svg">
              <use xlink:href="#icon-arrow-right"></use>
            </svg>
          </a>
        </div>

        <div class="pre_interesting__right">
          <div class="pre_interesting-slider-wrapper">
            <div class="pre_interesting-slider swiper-container">
              <div class="swiper-wrapper">
                <div class="pre_interesting-slide swiper-slide">
                  <div class="pre_post pre_post--row">
                    <a
                      href="#"
                      title="«Императорский Монетный Двор» поддержал Благотворительный фонд «Движение вверх» на главных мероприятиях этой осени"
                      class="pre_post__img-wrapper"
                    >
                      <div class="pre_post__img-container">
                        <img src="https://via.placeholder.com/600x400.jpg" alt="" class="pre_post__img" />
                      </div>
                    </a>

                    <div class="pre_post__wrap">
                      <span class="pre_post__date-wrapper">
                        <svg class="pre_post__date-icon">
                          <use xlink:href="#icon-calendar"></use>
                        </svg>
                        <time class="pre_post__date"> 8 июля, 2021 </time>
                      </span>

                      <a href="#" class="h4 pre_post__title">
                        «Императорский Монетный Двор» поддержал Благотворительный фонд «Движение вверх» на главных
                        мероприятиях этой осени
                      </a>
                    </div>
                  </div>
                  <div class="pre_post pre_post--row">
                    <a
                      href="#"
                      title="«Императорский Монетный Двор» поддержал Благотворительный фонд «Движение вверх» на главных мероприятиях этой осени"
                      class="pre_post__img-wrapper"
                    >
                      <div class="pre_post__img-container">
                        <img src="https://via.placeholder.com/600x400.jpg" alt="" class="pre_post__img" />
                      </div>
                    </a>

                    <div class="pre_post__wrap">
                      <span class="pre_post__date-wrapper">
                        <svg class="pre_post__date-icon">
                          <use xlink:href="#icon-calendar"></use>
                        </svg>
                        <time class="pre_post__date"> 8 июля, 2021 </time>
                      </span>

                      <a href="#" class="h4 pre_post__title">
                        «Императорский Монетный Двор» поддержал Благотворительный фонд «Движение вверх» на главных
                        мероприятиях этой осени
                      </a>
                    </div>
                  </div>
                </div>

                <div class="pre_interesting-slide swiper-slide">
                  <div class="pre_post pre_post--large">
                    <a
                      href="#"
                      title="«Императорский Монетный Двор» поддержал Благотворительный фонд «Движение вверх» на главных мероприятиях этой осени"
                      class="pre_post__img-wrapper"
                    >
                      <div class="pre_post__img-container">
                        <img src="https://via.placeholder.com/600x400.jpg" alt="" class="pre_post__img" />
                      </div>
                    </a>

                    <div class="pre_post__wrap">
                      <span class="pre_post__date-wrapper">
                        <svg class="pre_post__date-icon">
                          <use xlink:href="#icon-calendar"></use>
                        </svg>
                        <time class="pre_post__date"> 8 июля, 2021 </time>
                      </span>

                      <a href="#" class="h4 pre_post__title">
                        «Императорский Монетный Двор» поддержал Благотворительный фонд «Движение вверх» на главных
                        мероприятиях этой осени
                      </a>
                    </div>
                  </div>
                </div>

                <div class="pre_interesting-slide swiper-slide">
                  <div class="pre_post pre_post--row">
                    <a
                      href="#"
                      title="«Императорский Монетный Двор» поддержал Благотворительный фонд «Движение вверх» на главных мероприятиях этой осени"
                      class="pre_post__img-wrapper"
                    >
                      <div class="pre_post__img-container">
                        <img src="https://via.placeholder.com/600x400.jpg" alt="" class="pre_post__img" />
                      </div>
                    </a>

                    <div class="pre_post__wrap">
                      <span class="pre_post__date-wrapper">
                        <svg class="pre_post__date-icon">
                          <use xlink:href="#icon-calendar"></use>
                        </svg>
                        <time class="pre_post__date"> 8 июля, 2021 </time>
                      </span>

                      <a href="#" class="h4 pre_post__title">
                        «Императорский Монетный Двор» поддержал Благотворительный фонд «Движение вверх» на главных
                        мероприятиях этой осени
                      </a>
                    </div>
                  </div>
                  <div class="pre_post pre_post--row">
                    <a
                      href="#"
                      title="«Императорский Монетный Двор» поддержал Благотворительный фонд «Движение вверх» на главных мероприятиях этой осени"
                      class="pre_post__img-wrapper"
                    >
                      <div class="pre_post__img-container">
                        <img src="https://via.placeholder.com/600x400.jpg" alt="" class="pre_post__img" />
                      </div>
                    </a>

                    <div class="pre_post__wrap">
                      <span class="pre_post__date-wrapper">
                        <svg class="pre_post__date-icon">
                          <use xlink:href="#icon-calendar"></use>
                        </svg>
                        <time class="pre_post__date"> 8 июля, 2021 </time>
                      </span>

                      <a href="#" class="h4 pre_post__title">
                        «Императорский Монетный Двор» поддержал Благотворительный фонд «Движение вверх» на главных
                        мероприятиях этой осени
                      </a>
                    </div>
                  </div>
                </div>

                <div class="pre_interesting-slide swiper-slide">
                  <div class="pre_post pre_post--large">
                    <a
                      href="#"
                      title="«Императорский Монетный Двор» поддержал Благотворительный фонд «Движение вверх» на главных мероприятиях этой осени"
                      class="pre_post__img-wrapper"
                    >
                      <div class="pre_post__img-container">
                        <img src="https://via.placeholder.com/600x400.jpg" alt="" class="pre_post__img" />
                      </div>
                    </a>

                    <div class="pre_post__wrap">
                      <span class="pre_post__date-wrapper">
                        <svg class="pre_post__date-icon">
                          <use xlink:href="#icon-calendar"></use>
                        </svg>
                        <time class="pre_post__date"> 8 июля, 2021 </time>
                      </span>

                      <a href="#" class="h4 pre_post__title">
                        «Императорский Монетный Двор» поддержал Благотворительный фонд «Движение вверх» на главных
                        мероприятиях этой осени
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="pre_interesting__footer">
            <div class="pre_interesting__navigation">
              <button
                class="pre_interesting-button pre_interesting-button-icon pre_interesting-button-icon--prev"
                type="button"
              >
                <svg class="svg">
                  <use xlink:href="#icon-arrow-right"></use>
                </svg>
              </button>
              <button
                class="pre_interesting-button pre_interesting-button-icon pre_interesting-button-icon--next"
                type="button"
              >
                <svg class="svg">
                  <use xlink:href="#icon-arrow-right"></use>
                </svg>
              </button>
            </div>

            <div class="pre_interesting__pagination swiper-pagination"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ./ End of container -->
</section>
<!-- ./ End of pre_interesting -->
