<!-- menu -->
<div class="menu">
  <!-- wrap -->
  <div class="menu__wrap">
    <div class="menu__body" data-scroll-lock-scrollable>
      ${require('./blocks/menu-slider.html')}
    </div>

    <div class="menu__footer">
      <div class="header-phone">
        <a href="tel: +74959742977" class="header-phone__link">
          <svg class="svg">
            <use xlink:href="#icon-header-phone"></use>
          </svg>

          <span> +7 (495) 974-29-77 </span>
        </a>

        <time class="header-phone__time"> Пн-Вс 9.00-21.00 (МСК) </time>
      </div>

      <a href="#" class="header__order"> Заказать звонок </a>
    </div>
  </div>
  <!-- ./ End of wrap -->
</div>
<!-- ./ End of menu -->
