<!-- order -->
<section class="order">
  <div class="container">
    <!-- wrapper -->
    <div class="order__wrapper">
      <!-- content -->
      <div class="order__content">
        <div class="order__page-name">Заказ сформирован</div>
        <div class="order__topic">
          <div class="order__topic-img">
            <img src="../img/order-img.png" alt="">
          </div>
          <div class="order__topic-info">
            <h1 class="order__title h4">Ваш заказ №188288282-8 успешно оформлен!</h1>
            <!-- description -->
            <div class="order__description">
              <p>Детали заказа отправлены на указанный e-mail: <a href="#">allageorgievna1867</a>.</p>
              <p>Вы можете отслживать статус заказав своемличном кабинете в разделе <a href="#">Заказы</a></p>
              <p>Оператор свяжется с вами для подтверждения заказа в ближайшее время.</p>
            </div>
          </div>
        </div>
        <!-- ./ End of description -->
        <!-- block -->
        <div class="order__block">
          <p class="order__block-title">Получатель</p>
          <!-- recipient -->
          <div class="order__recipient">
            <p class="order__recipient-name">Константинопольский Александр </p>
            <div class="order__recipient-contacts">
              <div class="order__recipient-item">
                <div class="order__recipient-icon">
                  <svg class="order__recipient-svg">
                    <use xlink:href="#icon-mail-yellow"></use>
                  </svg>
                </div>
                <div class="order__recipient-text">
                  <b>E-mail:</b> Alkonst_1987@mail.ru
                </div>
              </div>
              <div class="order__recipient-item">
                <div class="order__recipient-icon">
                  <svg class="order__recipient-svg">
                    <use xlink:href="#icon-phone-yellow"></use>
                  </svg>
                </div>
                <div class="order__recipient-text">
                  <b>Телефон:</b> +7(953) 723-41-20
                </div>
              </div>
              <div class="order__recipient-item order__recipient-item--big">
                <div class="order__recipient-icon">
                  <svg class="order__recipient-svg">
                    <use xlink:href="#icon-map-pin-yellow"></use>
                  </svg>
                </div>
                <div class="order__recipient-text">
                  <b>Адрес:</b> г. Тамбов, ул. Набережная 28/4, кв. 124, 3920002
                </div>
              </div>
            </div>
          </div>
          <!-- ./ End of recipient -->
        </div>
        <!-- ./ End of block -->
        <!-- block -->
        <div class="order__block">
          <p class="order__block-title">Доставка и оплата</p>
          <!-- info -->
          <div class="order__info">
            <div class="order__info-list">
              <p>
                <span>Оплата</span>
                <span>При получении</span>
              </p>
              <p>
                <span>Доставка</span>
                <span>Почтой России</span>
              </p>
            </div>
          </div>
          <!-- ./ End of info -->
        </div>
        <!-- ./ End of block -->
        <!-- block -->
        <div class="order__block">
          <p class="order__block-title">Данные о заказе</p>
          <!-- info -->
          <div class="order__info">
            <div class="order__info-list">
              <p>
                <span>Сербряная медаль «Коронационное яйцо»</span>
                <span>1 745 ₽</span>
              </p>
              <p>
                <span>Сертификат подлинности, бархатный мешочек</span>
                <span>в подарок!</span>
              </p>
              <p>
                <span>Стоимость доставки и упаковки</span>
                <span>399 ₽</span>
              </p>
            </div>
            <hr class="order__info-hr">
            <div class="order__info-total">
              <span>ИТОГО</span>
              <span>2 144 ₽</span>
            </div>
          </div>
          <!-- ./ End of info -->
        </div>
        <!-- ./ End of block -->
      </div>
      <!-- ./ End of content -->
      <!-- aside -->
      <aside class="order__aside">
        ${require('./blocks/banner.html')}
      </aside>
      <!-- ./ End of aside -->
    </div>
  </div>
  <!-- ./ End of wrapper -->

</section>
<!-- ./ End of order -->