<section class="similar">
  <div class="container">
    <div class="similar__headline">
      <h2 class="h2">Вам <span>понравится</span></h2>
    </div>
    <div class="js_similar__slider similar__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="card-news">
            <a href="#" class="card-news__banner">
              <img src="../img/news/news-img-1.jpg" alt="">
            </a>
            <div class="card-news__content">
              <div class="card-news__date">
                <svg>
                  <use xlink:href="#icon-calendar"></use>
                </svg>
                <span>1 июля, 2021</span>
              </div>
              <a href="#" class="card-news__title">«Императорский Монетный Двор» и Музей Победы открывают новую
                страницу сотрудничества выставкой «Великая Отечественная война в современном медальерном</a>
              <div class="card-news__tag-list">
                <div class="card-news__tag">#музеи</div>
                <div class="card-news__tag">#выставки</div>
                <div class="card-news__tag">#история</div>
                <div class="card-news__tag">#монеты</div>
              </div>
            </div>
          </div><!-- End of .card-news-->
        </div>
        <div class="swiper-slide">
          <div class="card-news">
            <a href="#" class="card-news__banner">
              <img src="../img/news/news-img-2.jpg" alt="">
            </a>
            <div class="card-news__content">
              <div class="card-news__date">
                <svg>
                  <use xlink:href="#icon-calendar"></use>
                </svg>
                <span>1 июля, 2021</span>
              </div>
              <a href="#" class="card-news__title">«Императорский Монетный Двор» и Музей Победы открывают новую
                страницу сотрудничества выставкой «Великая Отечественная война в современном медальерном</a>
              <div class="card-news__tag-list">
                <div class="card-news__tag">#музеи</div>
                <div class="card-news__tag">#монеты</div>
              </div>
            </div>
          </div><!-- End of .card-news-->
        </div>
        <div class="swiper-slide">
          <div class="card-news">
            <a href="#" class="card-news__banner">
              <img src="../img/news/news-img-3.jpg" alt="">
            </a>
            <div class="card-news__content">
              <div class="card-news__date">
                <svg>
                  <use xlink:href="#icon-calendar"></use>
                </svg>
                <span>1 июля, 2021</span>
              </div>
              <a href="#" class="card-news__title">«Императорский Монетный Двор» и Музей Победы открывают новую
                страницу сотрудничества выставкой «Великая Отечественная война в современном медальерном</a>
              <div class="card-news__tag-list">
                <div class="card-news__tag">#музеи</div>
                <div class="card-news__tag">#выставки</div>
                <div class="card-news__tag">#история</div>
                <div class="card-news__tag">#монеты</div>
              </div>
            </div>
          </div><!-- End of .card-news-->
        </div>
        <div class="swiper-slide">
          <div class="card-news">
            <a href="#" class="card-news__banner">
              <img src="../img/news/news-img-4.jpg" alt="">
            </a>
            <div class="card-news__content">
              <div class="card-news__date">
                <svg>
                  <use xlink:href="#icon-calendar"></use>
                </svg>
                <span>1 июля, 2021</span>
              </div>
              <a href="#" class="card-news__title">«Императорский Монетный Двор» и Музей Победы открывают новую
                страницу сотрудничества выставкой «Великая Отечественная война в современном медальерном</a>
              <div class="card-news__tag-list">
                <div class="card-news__tag">#музеи</div>
                <div class="card-news__tag">#выставки</div>
                <div class="card-news__tag">#монеты</div>
              </div>
            </div>
          </div><!-- End of .card-news-->
        </div>
      </div>
    </div>
  </div>
</section>