.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: block;
  width: 100vw;
  height: 100vh;
  padding: 20px;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 0;
  text-align: center;
  white-space: nowrap;
  visibility: hidden;
  background-color: rgba($black, 0.1);
  opacity: 0;
  transition-timing-function: $transition-timing-function;
  transition-duration: $transition-duration * 2;
  transition-property: visibility, opacity;

  @media (max-width: 768px) {
    padding: 15px;
  }

  &::before {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    content: '';
  }

  &.active {
    visibility: visible;
    opacity: 1;

    .modal {
      opacity: 1;
      transform: scale(1);
    }
  }

  .modal {
    position: relative;
    z-index: 11;
    display: inline-block;
    width: 100%;
    max-width: 568px;
    padding: 80px 96px;
    font-size: 1rem;
    text-align: center;
    white-space: normal;
    vertical-align: middle;
    background-color: $white;
    border-radius: 4px;
    box-shadow: 0 4px 20px rgba($black, 0.1);
    opacity: 0;
    transition-timing-function: $transition-timing-function;
    transition-duration: $transition-duration * 2;
    transition-property: transform, opacity;
    transform: scale(0.6);

    &--big {
      max-width: 1200px;
    }

    // &--medium {

    // }

    &--small {
      padding: 44px 20px 20px;
    }
  }

  .modal__close {
    position: absolute;
    top: 8px;
    right: 8px;
  }

  .modal__title {
    margin: 0 0 16px 0;
  }

  .modal__subtitle {
    margin: 0 0 16px 0;
    font-size: 0.875rem;
    line-height: 1.43;
    color: $gray-dark;
  }
}

.modal__heaer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .button--close {
    position: static;
    margin: 0 0 0 auto;
  }
}

// search
.modal-wrapper--search {
  .header__search {
    display: block;
  }
}

// player
.modal-wrapper--player {
  .modal {
    padding: 0;

    @include max-height(500px) {
      max-width: 500px;
    }
  }
}

.modal-player {
  position: relative;
}

// zoom
.modal-wrapper--zoom {
  padding: 0;
  transition-duration: 0.3s;

  .modal {
    max-width: none;
    min-height: 100%;
    padding: 32px 90px 32px 32px;
    border-radius: 0;
    transition-duration: 0.3s;

    @include max-width(1400px) {
      padding: 44px 32px;
    }

    @include max-width($touch) {
      height: 100%;
      padding: 44px 0 0;
    }

    .product-preview-slider__container {
      @include max-width($desktop-sm) {
        padding-bottom: 56.25%;
      }
    }

    .product-thumbs-wrap {
      @include max-width($touch) {
        display: none;
      }
    }
  }

  .modal__wrap {
    @include max-width($touch) {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
  }

  .modal__body {
    @include max-width($touch) {
      width: 100%;
      margin: auto 0;

      @include max-height(500px) {
        max-width: calc((100vh * 1.7) - 60px);
        margin: auto;
      }
    }
  }

  .product-preview__zoom {
    display: none;
  }
}

.modal-product {
  display: flex;
  justify-content: space-between;

  .product-thumbs-wrap {
    align-self: center;
    height: 500px;
    margin-right: 32px;
  }

  .product-preview-wrap {
    flex-grow: 1;
    max-width: none;
  }
}

.modal-product__left {
  width: 100%;
  max-width: 1672px;
  margin-right: 100px;

  @include max-width(1400px) {
    margin-right: 40px;
  }

  @include max-width($desktop-sm) {
    max-width: none;
    margin-right: 0;
  }
}

.modal-product__right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  max-width: 438px;
  text-align: left;

  @include max-width($desktop-sm) {
    display: none;
  }
}
