.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: block;
  width: 100vw;
  height: 100vh;
  padding: 20px;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 0;
  text-align: center;
  white-space: nowrap;
  visibility: hidden;
  background-color: rgba($black, 0.1);
  opacity: 0;
  transition-timing-function: $transition-timing-function;
  transition-duration: $transition-duration * 2;
  transition-property: visibility, opacity;

  @media (max-width: 768px) {
    padding: 15px;
  }

  &::before {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    content: '';
  }

  &.active {
    visibility: visible;
    opacity: 1;

    .modal {
      opacity: 1;
      transform: scale(1);
    }
  }

  .modal {
    position: relative;
    z-index: 11;
    display: inline-block;
    width: 100%;
    max-width: 568px;
    padding: 80px 96px;
    font-size: 1rem;
    text-align: center;
    white-space: normal;
    vertical-align: middle;
    background-color: $white;
    border-radius: 4px;
    box-shadow: 0 4px 20px rgba($black, 0.1);
    opacity: 0;
    transition-timing-function: $transition-timing-function;
    transition-duration: $transition-duration * 2;
    transition-property: transform, opacity;
    transform: scale(0.6);

    &--big {
      max-width: 1200px;
    }

    // &--medium {

    // }

    &--small {
      padding: 44px 20px 20px;
    }
  }

  .modal__close {
    position: absolute;
    top: 8px;
    right: 8px;
  }

  .modal__title {
    margin: 0 0 16px 0;
  }

  .modal__subtitle {
    margin: 0 0 16px 0;
    font-size: 0.875rem;
    line-height: 1.43;
    color: $gray-dark;
  }
}

.modal__heaer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .button--close {
    position: static;
    margin: 0 0 0 auto;
  }
}

// search
.modal-wrapper--search {
  .header__search {
    display: block;
  }
}

// player
.modal-wrapper--player {
  .modal {
    padding: 0;

    @include max-height(500px) {
      max-width: 500px;
    }
  }
}

.modal-player {
  position: relative;
}

// zoom
.modal-wrapper--zoom {
  .product-preview__zoom {
    display: none;
  }
}
