.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: block;
  width: 100vw;
  height: 100vh;
  padding: 20px;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 0;
  text-align: center;
  white-space: nowrap;
  visibility: hidden;
  background-color: rgba($black, 0.1);
  opacity: 0;
  transition-timing-function: $transition-timing-function;
  transition-duration: $transition-duration * 2;
  transition-property: visibility, opacity;

  @media (max-width: 768px) {
    padding: 15px;
  }

  &::before {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    content: '';
  }

  &.active {
    visibility: visible;
    opacity: 1;

    .modal {
      opacity: 1;
      transform: scale(1);
    }
  }

  .modal {
    position: relative;
    z-index: 11;
    display: inline-block;
    width: 100%;
    max-width: 568px;
    padding: 80px 96px;
    font-size: 1rem;
    text-align: center;
    white-space: normal;
    vertical-align: middle;
    background-color: $white;
    border-radius: 4px;
    box-shadow: 0 4px 20px rgba($black, 0.1);
    opacity: 0;
    transition-timing-function: $transition-timing-function;
    transition-duration: $transition-duration * 2;
    transition-property: transform, opacity;
    transform: scale(0.6);

    &--big {
      max-width: 1200px;
    }

    // &--medium {

    // }

    &--small {
      padding: 44px 20px 20px;
    }
  }

  .modal__close {
    position: absolute;
    top: 8px;
    right: 8px;
  }

  .modal__title {
    margin: 0 0 16px 0;
  }

  .modal__subtitle {
    margin: 0 0 16px 0;
    font-size: 0.875rem;
    line-height: 1.43;
    color: $gray-dark;
  }
}

.modal__heaer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .button--close {
    position: static;
    margin: 0 0 0 auto;
  }
}

// search
.modal-wrapper--search {
  .header__search {
    display: block;
  }
}

// player
.modal-wrapper--player {
  .modal {
    padding: 0;

    @include max-height(500px) {
      max-width: 500px;
    }
  }
}

.modal-player {
  position: relative;
}

// zoom
.modal-wrapper--zoom {
  padding: 0;
  transition-duration: 0.3s;

  .modal {
    max-width: none;
    min-height: 100%;
    padding: 32px 90px 32px 32px;
    border-radius: 0;
    transition-duration: 0.3s;
  }

  .product-preview__zoom {
    display: none;
  }
}

.modal-product {
  display: flex;
  justify-content: space-between;

  .product-thumbs-wrap {
    align-self: center;
    height: 500px;
    margin-right: 32px;
  }

  .product-preview-wrap {
    flex-grow: 1;
    max-width: none;
  }
}

.modal-product__left {
  width: 100%;
  max-width: 1672px;
  margin-right: 100px;
}

.modal-product__right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  max-width: 438px;
  text-align: left;
}

// gallery
.modal-wrapper--gallery {
  @include min-width($touch + 1px) {
    padding: calc(40px + 2rem);
  }

  @include max-width($touch) {
    padding-top: calc(40px + 1rem);
  }
  .modal {
    width: 100%;
    max-width: 1350px;
    max-height: 822px;
    padding: 32px 40px 22px 40px;
  }
}
.gallery-slider-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  padding-bottom: 617px;

  @include max-width($phone) {
    padding-bottom: 100%;
  }
}
.gallery-slider-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  .gallery-slider {
    height: 100%;
  }
}
.gallery-slider {
  height: 490px;

  @include max-width($phone) {
    height: 400px;
  }
}
.gallery-item {
  max-width: 438px;
  height: 100%;
  max-height: 617px;
  margin: 0 auto 32px auto;
  overflow: hidden;
  background-color: #fff;
  border-radius: 8px 8px 0 0;

  &__wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  &__img {
    height: 100%;
    object-fit: contain;
  }
  .how__video {
    max-width: none;
    height: 100%;
    margin: 0;
    border-radius: 0;
  }
  .how__img {
    border-radius: 0;
  }
  .how__play {
    top: 50%;
    left: 50%;
  }
}
.gallery-slider-navigation {
  position: absolute;
  z-index: 1;
  pointer-events: none;
  .button {
    background-color: $white;
    border-color: $gray-super-light;
    &:hover {
      border-color: $black;
    }
    &:focus {
      box-shadow: none;
    }
    &:disabled {
      background-color: $white;
      border-color: $black;
    }
  }
  &__button {
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc((100vw - 900px) / 2);
    min-width: calc(40px + 2rem);
    height: 100%;
    &--prev {
      right: auto;
      left: 40px;
      justify-content: flex-start;

      @include max-width(768px) {
        left: 20px;
      }

      @include max-width(500px) {
        left: 10px;
      }
    }
    &--next {
      right: 40px;
      left: auto;
      justify-content: flex-end;

      @include max-width(768px) {
        right: 20px;
      }

      @include max-width(500px) {
        right: 10px;
      }
    }
    .button-icon {
      --size: 40px;
      --padding: 5px;
      --border-color: #e0e0e0;

      width: var(--size);
      min-width: var(--size);
      height: var(--size);
      min-height: var(--size);
      pointer-events: all;
      border-radius: 4px;
      .svg {
        font-size: 24px;
      }

      @include max-width(768px) {
        --size: 30px;
        .svg {
          font-size: 15px;
        }
      }
    }
  }
}

.gallery-thumbs-container {
  position: relative;
  padding: 0 26px;
}

.swiper-button-prev,
.swiper-button-next {
  color: $gray-extra-dark;
  &::after {
    font-size: 14px;
    font-weight: 700;
  }
}

.swiper-button-prev {
  left: -20px;
}
.swiper-button-next {
  right: -20px;
}
.gallery-thumbs-slider-wrapper {
  margin-top: 32px;
  overflow: hidden;

  @include max-width($touch) {
    padding: 16px;
  }
}
.gallery-thumbs-slider {
  overflow: visible;
}
.gallery-thumbs-slide {
  @include max-width($touch) {
    width: 100%;
    max-width: 48px;
  }
  &:hover {
    .chat-sender-imgs__img {
      border-color: var(--primary-hover);
    }
  }
  &.swiper-slide-thumb-active {
    .chat-sender-imgs__img {
      border-color: var(--primary-default);
      box-shadow: 0 0 0 1px var(--primary-default);
    }
  }
  .chat-sender-imgs__item {
    width: 100%;
    max-width: 84px;
    height: 100%;
    max-height: 120px;
    margin: 0;
  }
  .chat-sender-imgs__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: border 0.2s ease, box-shadow 0.2s ease;
  }
}
