<!-- gallery modal -->
<div class="modal-wrapper j_modal modal-wrapper--gallery" id="modal-gallery">
  <button class="modal__close button button--close j_closeModal">
    <svg>
      <use xlink:href="#icon-close"></use>
    </svg>
  </button>

  <div class="modal modal--large">
    <div class="modal__wrap">
      <div class="modal__body">
        <div class="gallery">
          <div class="gallery__wrap">
            <div class="gallery-slider-wrapper">
              <div class="gallery-slider-wrap">
                <div class="gallery-slider-inner">
                  <div class="gallery-slider swiper-container">
                    <div class="swiper-wrapper">
                      <div class="gallery-slide swiper-slide">
                        <div class="gallery-item">
                          <div class="gallery-item__wrap">
                            <img
                              data-src="https://i.ibb.co/nRLVp1x/certificate-1.jpg"
                              alt=""
                              class="gallery-item__img swiper-lazy"
                            />
                          </div>
                        </div>
                        <div class="swiper-lazy-preloader"></div>
                      </div>
                      <div class="gallery-slide swiper-slide">
                        <div class="gallery-item">
                          <div class="gallery-item__wrap">
                            <img
                              data-src="https://i.ibb.co/71X30Xp/certificate-2.jpg"
                              alt=""
                              class="gallery-item__img swiper-lazy"
                            />
                          </div>
                        </div>
                        <div class="swiper-lazy-preloader"></div>
                      </div>
                      <div class="gallery-slide swiper-slide">
                        <div class="gallery-item">
                          <div class="gallery-item__wrap">
                            <img
                              data-src="https://i.ibb.co/V9ygLsm/certificate-3.jpg"
                              alt=""
                              class="gallery-item__img swiper-lazy"
                            />
                          </div>
                        </div>
                        <div class="swiper-lazy-preloader"></div>
                      </div>
                      <div class="gallery-slide swiper-slide">
                        <div class="gallery-item">
                          <div class="gallery-item__wrap">
                            <img
                              data-src="https://i.ibb.co/Svq0CDx/certificate-4.jpg"
                              alt=""
                              class="gallery-item__img swiper-lazy"
                            />
                          </div>
                        </div>
                        <div class="swiper-lazy-preloader"></div>
                      </div>
                      <div class="gallery-slide swiper-slide">
                        <div class="gallery-item">
                          <div class="gallery-item__wrap">
                            <img
                              data-src="https://i.ibb.co/xJVr9Fp/certificate-5.jpg"
                              alt=""
                              class="gallery-item__img swiper-lazy"
                            />
                          </div>
                        </div>
                        <div class="swiper-lazy-preloader"></div>
                      </div>
                      <div class="gallery-slide swiper-slide">
                        <div class="gallery-item">
                          <div class="gallery-item__wrap">
                            <img
                              data-src="https://i.ibb.co/1J2nFzr/certificate-6.jpg"
                              alt=""
                              class="gallery-item__img swiper-lazy"
                            />
                          </div>
                        </div>
                        <div class="swiper-lazy-preloader"></div>
                      </div>

                      <div class="gallery-slide swiper-slide">
                        <div class="gallery-item">
                          <div class="gallery-item__wrap">
                            <img
                              data-src="https://i.ibb.co/nRLVp1x/certificate-1.jpg"
                              alt=""
                              class="gallery-item__img swiper-lazy"
                            />
                          </div>
                        </div>
                        <div class="swiper-lazy-preloader"></div>
                      </div>
                      <div class="gallery-slide swiper-slide">
                        <div class="gallery-item">
                          <div class="gallery-item__wrap">
                            <img
                              data-src="https://i.ibb.co/71X30Xp/certificate-2.jpg"
                              alt=""
                              class="gallery-item__img swiper-lazy"
                            />
                          </div>
                        </div>
                        <div class="swiper-lazy-preloader"></div>
                      </div>
                      <div class="gallery-slide swiper-slide">
                        <div class="gallery-item">
                          <div class="gallery-item__wrap">
                            <img
                              data-src="https://i.ibb.co/V9ygLsm/certificate-3.jpg"
                              alt=""
                              class="gallery-item__img swiper-lazy"
                            />
                          </div>
                        </div>
                        <div class="swiper-lazy-preloader"></div>
                      </div>
                      <div class="gallery-slide swiper-slide">
                        <div class="gallery-item">
                          <div class="gallery-item__wrap">
                            <img
                              data-src="https://i.ibb.co/Svq0CDx/certificate-4.jpg"
                              alt=""
                              class="gallery-item__img swiper-lazy"
                            />
                          </div>
                        </div>
                        <div class="swiper-lazy-preloader"></div>
                      </div>
                      <div class="gallery-slide swiper-slide">
                        <div class="gallery-item">
                          <div class="gallery-item__wrap">
                            <img
                              data-src="https://i.ibb.co/xJVr9Fp/certificate-5.jpg"
                              alt=""
                              class="gallery-item__img swiper-lazy"
                            />
                          </div>
                        </div>
                        <div class="swiper-lazy-preloader"></div>
                      </div>
                      <div class="gallery-slide swiper-slide">
                        <div class="gallery-item">
                          <div class="gallery-item__wrap">
                            <img
                              data-src="https://i.ibb.co/1J2nFzr/certificate-6.jpg"
                              alt=""
                              class="gallery-item__img swiper-lazy"
                            />
                          </div>
                        </div>
                        <div class="swiper-lazy-preloader"></div>
                      </div>
                      <div class="gallery-slide swiper-slide">
                        <div class="gallery-item">
                          <div class="gallery-item__wrap">
                            <img
                              data-src="https://i.ibb.co/nRLVp1x/certificate-1.jpg"
                              alt=""
                              class="gallery-item__img swiper-lazy"
                            />
                          </div>
                        </div>
                        <div class="swiper-lazy-preloader"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--  -->
              <!-- down slider -->
              <!--  -->

              <div class="gallery-thumbs-container">
                <div class="gallery-thumbs-slider-wrapper">
                  <div class="gallery-thumbs-slider swiper-container">
                    <div class="swiper-wrapper">
                      <div class="gallery-thumbs-slide swiper-slide">
                        <div class="chat-sender-imgs__item">
                          <div class="chat-sender-imgs__container">
                            <img
                              data-src="https://i.ibb.co/nRLVp1x/certificate-1.jpg"
                              alt=""
                              class="chat-sender-imgs__img swiper-lazy"
                            />
                          </div>
                        </div>
                        <div class="swiper-lazy-preloader"></div>
                      </div>
                      <div class="gallery-thumbs-slide swiper-slide">
                        <div class="chat-sender-imgs__item">
                          <div class="chat-sender-imgs__container">
                            <img
                              data-src="https://i.ibb.co/71X30Xp/certificate-2.jpg"
                              alt=""
                              class="chat-sender-imgs__img swiper-lazy"
                            />
                          </div>
                        </div>
                        <div class="swiper-lazy-preloader"></div>
                      </div>
                      <div class="gallery-thumbs-slide swiper-slide">
                        <div class="chat-sender-imgs__item">
                          <div class="chat-sender-imgs__container">
                            <img
                              data-src="https://i.ibb.co/V9ygLsm/certificate-3.jpg"
                              alt=""
                              class="chat-sender-imgs__img swiper-lazy"
                            />
                          </div>
                        </div>
                        <div class="swiper-lazy-preloader"></div>
                      </div>
                      <div class="gallery-thumbs-slide swiper-slide">
                        <div class="chat-sender-imgs__item">
                          <div class="chat-sender-imgs__container">
                            <img
                              data-src="https://i.ibb.co/Svq0CDx/certificate-4.jpg"
                              alt=""
                              class="chat-sender-imgs__img swiper-lazy"
                            />
                          </div>
                        </div>
                        <div class="swiper-lazy-preloader"></div>
                      </div>
                      <div class="gallery-thumbs-slide swiper-slide">
                        <div class="chat-sender-imgs__item">
                          <div class="chat-sender-imgs__container">
                            <img
                              data-src="https://i.ibb.co/xJVr9Fp/certificate-5.jpg"
                              alt=""
                              class="chat-sender-imgs__img swiper-lazy"
                            />
                          </div>
                        </div>
                        <div class="swiper-lazy-preloader"></div>
                      </div>
                      <div class="gallery-thumbs-slide swiper-slide">
                        <div class="chat-sender-imgs__item">
                          <div class="chat-sender-imgs__container">
                            <img
                              data-src="https://i.ibb.co/1J2nFzr/certificate-6.jpg"
                              alt=""
                              class="chat-sender-imgs__img swiper-lazy"
                            />
                          </div>
                        </div>
                        <div class="swiper-lazy-preloader"></div>
                      </div>

                      <div class="gallery-thumbs-slide swiper-slide">
                        <div class="chat-sender-imgs__item">
                          <div class="chat-sender-imgs__container">
                            <img
                              data-src="https://i.ibb.co/nRLVp1x/certificate-1.jpg"
                              alt=""
                              class="chat-sender-imgs__img swiper-lazy"
                            />
                          </div>
                        </div>
                        <div class="swiper-lazy-preloader"></div>
                      </div>
                      <div class="gallery-thumbs-slide swiper-slide">
                        <div class="chat-sender-imgs__item">
                          <div class="chat-sender-imgs__container">
                            <img
                              data-src="https://i.ibb.co/71X30Xp/certificate-2.jpg"
                              alt=""
                              class="chat-sender-imgs__img swiper-lazy"
                            />
                          </div>
                        </div>
                        <div class="swiper-lazy-preloader"></div>
                      </div>
                      <div class="gallery-thumbs-slide swiper-slide">
                        <div class="chat-sender-imgs__item">
                          <div class="chat-sender-imgs__container">
                            <img
                              data-src="https://i.ibb.co/V9ygLsm/certificate-3.jpg"
                              alt=""
                              class="chat-sender-imgs__img swiper-lazy"
                            />
                          </div>
                        </div>
                        <div class="swiper-lazy-preloader"></div>
                      </div>
                      <div class="gallery-thumbs-slide swiper-slide">
                        <div class="chat-sender-imgs__item">
                          <div class="chat-sender-imgs__container">
                            <img
                              data-src="https://i.ibb.co/Svq0CDx/certificate-4.jpg"
                              alt=""
                              class="chat-sender-imgs__img swiper-lazy"
                            />
                          </div>
                        </div>
                        <div class="swiper-lazy-preloader"></div>
                      </div>
                      <div class="gallery-thumbs-slide swiper-slide">
                        <div class="chat-sender-imgs__item">
                          <div class="chat-sender-imgs__container">
                            <img
                              data-src="https://i.ibb.co/xJVr9Fp/certificate-5.jpg"
                              alt=""
                              class="chat-sender-imgs__img swiper-lazy"
                            />
                          </div>
                        </div>
                        <div class="swiper-lazy-preloader"></div>
                      </div>
                      <div class="gallery-thumbs-slide swiper-slide">
                        <div class="chat-sender-imgs__item">
                          <div class="chat-sender-imgs__container">
                            <img
                              data-src="https://i.ibb.co/1J2nFzr/certificate-6.jpg"
                              alt=""
                              class="chat-sender-imgs__img swiper-lazy"
                            />
                          </div>
                        </div>
                        <div class="swiper-lazy-preloader"></div>
                      </div>
                      <div class="gallery-thumbs-slide swiper-slide">
                        <div class="chat-sender-imgs__item">
                          <div class="chat-sender-imgs__container">
                            <img
                              data-src="https://i.ibb.co/nRLVp1x/certificate-1.jpg"
                              alt=""
                              class="chat-sender-imgs__img swiper-lazy"
                            />
                          </div>
                        </div>
                        <div class="swiper-lazy-preloader"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="galleryDown-slider-navigation">
                  <div class="swiper-button-prev"></div>
                  <div class="swiper-button-next"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- navigation -->
      <div class="gallery-slider-navigation swiper-navigation">
        <div class="gallery-slider-navigation__button gallery-slider-navigation__button--prev">
          <button class="button button-icon button-icon--white button-icon--prev" type="button">
            <svg class="svg">
              <use xlink:href="#icon-arrow-right"></use>
            </svg>
          </button>
        </div>
        <div class="gallery-slider-navigation__button gallery-slider-navigation__button--next">
          <button class="button button-icon button-icon--white button-icon--next" type="button">
            <svg class="svg">
              <use xlink:href="#icon-arrow-right"></use>
            </svg>
          </button>
        </div>
      </div>
      <!-- ./ End of navigation -->
    </div>
  </div>
</div>
<!--./ End of gallery modal -->
