<div class="drawer-wrapper j_drawer" id="drawer-terms" data-scroll-lock-scrollable="">
  <div class="drawer">
    <div class="drawer__inner">
      <button class="drawer__close button button--close j_closeDrawer">
        <svg>
          <use xlink:href="#icon-close"></use>
        </svg>
      </button>

      <div class="drawer__content">
        <!-- terms -->
        <div class="terms">
          <!-- wrapper -->
          <div class="terms__wrapper">
            <!-- top -->
            <div class="terms__top">
              <h6 class="terms__title h4">Вы резервируете, мы доставляем!</h6>
              <p class="terms__subtitle">С услугой «Автоплатеж» получать монеты и медали стало просто и выгодно!</p>
            </div>
            <!-- ./ End of top -->
            <!-- content -->
            <div class="terms__content">
              <!-- block -->
              <div class="terms__block">
                <!-- list -->
                <div class="terms__list">
                  <div class="terms__list-item">
                    <div class="terms__list-icon">
                      <img src="/upload/iblock/35c/hsrvax322rqozfe7adsmzhny0lihfshg.svg" class="terms__list-image" />
                    </div>
                    <div class="terms__list-content">
                      <p class="terms__list-title">Удобство и простота</p>
                      <p class="terms__list-text">
                        Подключив услугу «Автоплатеж», Вы обеспечите себе приоритетное получение следующих выпусков раз
                        в месяц. Кроме того, Вы получаете
                        <u>дополнительную выгоду: бесплатную упаковку и пересылку первой медали.</u>
                      </p>
                    </div>
                  </div>

                  <div class="terms__list-item">
                    <div class="terms__list-icon">
                      <img src="/upload/iblock/bb2/ms4mr5wu2kiu2n515qewupginwr1x6oo.svg" class="terms__list-image" />
                    </div>
                    <div class="terms__list-content">
                      <p class="terms__list-title">100% гарантия доставки</p>
                      <p class="terms__list-text">
                        Вы просто забираете посылку на почте. Оплата посылки будет происходить автоматически, гарантируя
                        Вам своевременное получение заказа.
                      </p>
                    </div>
                  </div>

                  <div class="terms__list-item">
                    <div class="terms__list-icon">
                      <img src="/upload/iblock/b34/hayw4c0cs7m594knwa5kq98qiukgd4k5.svg" class="terms__list-image" />
                    </div>
                    <div class="terms__list-content">
                      <p class="terms__list-title">Электронная оплата</p>
                      <p class="terms__list-text">
                        Платежи за медали выбранной коллекции будут списаны автоматически с Вашей карты. Мы будем
                        заранее уведомлять Вас о списании (за 24 часа).
                      </p>
                    </div>
                  </div>

                  <div class="terms__list-item">
                    <div class="terms__list-icon">
                      <img
                        src="/upload/resize_cache/webp/iblock/7f6/f6mwg0jqcya0hpmu65wxbm5cocbmhsqj.webp"
                        class="terms__list-image"
                      />
                    </div>
                    <div class="terms__list-content">
                      <p class="terms__list-title">Измените платеж в любой момент</p>
                      <p class="terms__list-text">
                        Задать вопросы по услуге «Автоплатеж», отменить «Автоплатеж» можно, позвонив в Отдел
                        персонального обслуживания клиентов по номеру 8 (495) 974-29-47, с 9:00 до 21:00 (по московскому
                        времени, без выходных).
                      </p>
                    </div>
                  </div>
                </div>
                <!-- ./ End of list -->
              </div>
              <!-- ./ End of block -->
              <!-- terms__block -->
              <div class="terms__block">
                <!-- accordion -->
                <div class="terms__accordion">
                  <h2>Вопросы и ответы</h2>
                  <div class="terms__accordion-item" data-accordion="terms1">
                    <button class="terms__accordion-button accordion-button">
                      Что такое Автоплатеж?
                      <div class="terms__accordion-icon">
                        <svg class="terms__accordion-svg">
                          <use xlink:href="#icon-angle"></use>
                        </svg>
                      </div>
                    </button>
                    <div class="terms__accordion-hidden accordion-content">
                      <div class="terms__accordion-content">
                        <p>
                          Сервис Автоплатежа создан для того, чтобы Вы могли не беспокоиться о своевременном получении и
                          оплате последующих выпусков медалей серий, на которые Вы подписаны.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="terms__accordion-item" data-accordion="terms2">
                    <button class="terms__accordion-button accordion-button">
                      Как оформить Автоплатеж?
                      <div class="terms__accordion-icon">
                        <svg class="terms__accordion-svg">
                          <use xlink:href="#icon-angle"></use>
                        </svg>
                      </div>
                    </button>
                    <div class="terms__accordion-hidden accordion-content">
                      <div class="terms__accordion-content">
                        <p>
                          Вы можете подключить Автоплатеж при оформлении заказа.<br />
                          1. Выбираете Способ оплаты «Автоплатеж: подписка с выгодой» и нажимаете кнопку «Заказать».
                          После оплаты 1й медали платежи за последующие медали серии будут списываться автоматически с
                          указанной Вами карты.<br /><br />
                          <img
                            width="295"
                            alt="Screenshot_21.jpg"
                            src="/upload/resize_cache/webp/upload/medialibrary/572/5720f1cceb68f93604da0fb54c3c042c.webp"
                            height="388"
                            title="Screenshot_21.jpg"
                          />
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="terms__accordion-item" data-accordion="terms3">
                    <button class="terms__accordion-button accordion-button">
                      Что такое Автоплатеж?
                      <div class="terms__accordion-icon">
                        <svg class="terms__accordion-svg">
                          <use xlink:href="#icon-angle"></use>
                        </svg>
                      </div>
                    </button>
                    <div class="terms__accordion-hidden accordion-content">
                      <div class="terms__accordion-content">
                        <p>
                          При заказе коллекции выбираете Способ оплаты «Автоплатеж: подписка с выгодой»». Для оплаты 1й
                          медали коллекции Вы вводите данные Вашей карты.
                        </p>
                        <p>
                          Данные полностью защищены в соответствии с требованиями стандарта безопасности PCI DSS.
                          «Императорский монетный двор» получает информацию только о совершенном платеже.
                        </p>
                        <p>
                          Оплата за каждую последующую медаль серии происходит автоматически: сумма списывается с
                          указанной Вами карты. Перед отправкой очередной медали за 24 часа до списания оплаты Вы
                          получите смс с уведомлением о списании. Проверьте статус Вашей карты и баланс на ней.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="terms__accordion-item" data-accordion="terms4">
                    <button class="terms__accordion-button accordion-button">
                      Как отменить Автоплатеж?
                      <div class="terms__accordion-icon">
                        <svg class="terms__accordion-svg">
                          <use xlink:href="#icon-angle"></use>
                        </svg>
                      </div>
                    </button>
                    <div class="terms__accordion-hidden accordion-content">
                      <div class="terms__accordion-content">
                        <p>
                          Отменить Автоплатеж можно, позвонив в Отдел персонального обслуживания клиентов по номеру 8
                          (495) 974-29-47, с 9:00 до 21:00 (по московскому времени, без выходных).
                        </p>
                      </div>
                    </div>
                  </div>
                  <br />
                </div>
                <!-- ./ End of accordion -->
              </div>
              <!-- ./ End of terms__block -->
            </div>
            <!-- ./ End of content -->
          </div>
          <!-- ./ End of wrapper -->
        </div>
        <!-- ./ End of terms -->
      </div>
    </div>
  </div>
</div>
