<!-- modal-player -->
<div data-play-on-open class="modal-wrapper modal-wrapper--player j_modal" id="modal-player">
  <button class="modal__close button button--close j_closeModal">
    <svg>
      <use xlink:href="#icon-close"></use>
    </svg>
  </button>

  <div class="modal modal--big">
    <div class="modal__wrap">
      <div class="modal__body">
        <div class="modal-player">
          <div data-player="player-in-modal1" class="plyr__video-embed">
            <iframe
              src="https://www.youtube.com/embed/bTqVqk7FSmY?origin=https://plyr.io&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1"
              allowfullscreen
              allowtransparency
            ></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ./ End of modal-player -->
