<!-- modal-product -->
<div data-open-on-focus class="modal-wrapper modal-wrapper--search j_modal" id="modal-search">
  <div class="modal modal--small">
    <div class="modal__wrap">
      <div class="modal__header">
        <button class="modal__close button button--close j_closeModal">
          <svg>
            <use xlink:href="#icon-close"></use>
          </svg>
        </button>
      </div>

      <div class="modal__body">
        <form class="form">
          <div class="header__search">
            <div class="input-wrapper">
              <input type="text" class="input" placeholder="Поиск по товарам" />

              <button class="button button-icon input__clear" type="submit">
                <svg>
                  <use xlink:href="#icon-search"></use>
                </svg>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- ./ End of modal-product -->
