<!-- modal-zoom -->
<div class="modal-wrapper modal-wrapper--zoom j_modal" id="modal-zoom">
  <div class="modal modal--big">
    <div class="modal__wrap">
      <div class="modal__header">
        <button class="modal__close button button--close j_closeModal">
          <svg>
            <use xlink:href="#icon-close"></use>
          </svg>
        </button>
      </div>

      <div class="modal__body">
        <div class="modal-product">
          <div class="modal-product__left">
            <div class="product-preview">
              <div class="product-thumbs-wrap">
                <div class="product-thumbs-slider-wrapper">
                  <div class="product-thumbs-slider swiper">
                    <div class="swiper-wrapper">
                      <div class="product-thumbs-slide swiper-slide">
                        <div class="product ">
                          <picture class="product__pic">
                            <source type="image/png" srcset="images/product-card_img1.jpg" />
                            <img src="../../img/product-card_img1.jpg" />
                          </picture>
                        </div>
                      </div>
                      <div class="product-thumbs-slide swiper-slide">
                        <div class="product">
                          <picture class="product__pic">
                            <source type="image/jpg" srcset="images/product-card_img2.jpg" />
                            <img src="../../img/product-card_img2.jpg" />
                          </picture>
                        </div>
                      </div>
                      <div class="product-thumbs-slide swiper-slide">
                        <div class="product product--video">
                          <picture class="product__pic">
                            <source type="image/png" srcset="images/product-card_img1.jpg" />
                            <img src="../../img/product-card_img1.jpg" />
                          </picture>
                        </div>
                      </div>
                      <div class="product-thumbs-slide swiper-slide">
                        <div class="product">
                          <picture class="product__pic">
                            <source type="image/jpg" srcset="images/product-card_img2.jpg" />
                            <img src="../../img/product-card_img2.jpg" />
                          </picture>
                        </div>
                      </div>
                      <div class="product-thumbs-slide swiper-slide">
                        <div class="product">
                          <picture class="product__pic">
                            <source type="image/png" srcset="images/product-card_img1.jpg" />
                            <img src="../../img/product-card_img1.jpg" />
                          </picture>
                        </div>
                      </div>
                      <div class="product-thumbs-slide swiper-slide">
                        <div class="product">
                          <picture class="product__pic">
                            <source type="image/jpg" srcset="images/product-card_img2.jpg" />
                            <img src="../../img/product-card_img2.jpg" />
                          </picture>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- navigation -->
                  <div class="slider-navigation product-thumbs-slider-navigation">
                    <button class="button button-icon button-icon--prev" type="button">
                      <svg>
                        <use xlink:href="#icon-arrow-up"></use>
                      </svg>
                    </button>

                    <button class="button button-icon button-icon--next" type="button">
                      <svg>
                        <use xlink:href="#icon-arrow-up"></use>
                      </svg>
                    </button>
                  </div>
                  <!-- ./ End of navigation -->
                </div>
              </div>

              <div class="product-preview-wrap">
                <div class="product-preview-slider-wrapper">
                  <div class="product-preview-slider__container">
                    <div class="product-preview-slider__inner">
                      <div class="product-preview-slider swiper">
                        <div class="swiper-wrapper">
                          <div class="product-preview-slide swiper-slide">
                            <div class="product">
                              <picture class="product__pic">
                                <source type="image/jpg" srcset="images/product-card_img1.jpg" />
                                <img src="../../img/product-card_img1.jpg" />
                              </picture>
                            </div>
                          </div>
                          <div class="product-preview-slide swiper-slide">
                            <div class="product">
                              <picture class="product__pic">
                                <source type="image/jpg" srcset="images/product-card_img2.jpg" />
                                <img src="../../img/product-card_img2.jpg" />
                              </picture>
                            </div>
                          </div>
                          <div class="product-preview-slide swiper-slide">
                            <div class="product product--video">
                              <picture class="product__pic">
                                <source type="image/png" srcset="images/product-card_img1.jpg" />
                                <img src="../../img/product-card_img1.jpg" />
                              </picture>
                            </div>
                          </div>
                          <div class="product-preview-slide swiper-slide">
                            <div class="product">
                              <picture class="product__pic">
                                <source type="image/jpg" srcset="images/product-card_img2.jpg" />
                                <img src="../../img/product-card_img2.jpg" />
                              </picture>
                            </div>
                          </div>
                          <div class="product-preview-slide swiper-slide">
                            <div class="product">
                              <picture class="product__pic">
                                <source type="image/png" srcset="images/product-card_img1.jpg" />
                                <img src="../../img/product-card_img1.jpg" />
                              </picture>
                            </div>
                          </div>
                          <div class="product-preview-slide swiper-slide">
                            <div class="product">
                              <picture class="product__pic">
                                <source type="image/jpg" srcset="images/product-card_img2.jpg" />
                                <img src="../../img/product-card_img2.jpg" />
                              </picture>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="product-preview__header">
                        <div class="product-preview__tags">
                          <span class="product-preview__tag product-preview__tag--red">
                            -30%
                          </span>

                          <span class="product-preview__tag">
                            серия
                          </span>
                        </div>

                        <div class="product-preview__zoom">
                          <button class="button button-icon" type="button">
                            <svg class="svg">
                              <use xlink:href="#icon-search"></use>
                            </svg>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="modal-product__right"> </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ./ End of modal-zoom -->
