<!-- modal-zoom -->
<div class="modal-wrapper modal-wrapper--zoom j_modal" id="modal-zoom">
  <div class="modal modal--big">
    <div class="modal__wrap">
      <div class="modal__header">
        <button class="modal__close button button--close j_closeModal">
          <svg>
            <use xlink:href="#icon-close"></use>
          </svg>
        </button>
      </div>

      <div class="modal__body">
        <div class="modal-product">
          <div class="modal-product__left">
            <div class="product-preview">
              <div class="product-thumbs-wrap">
                <div class="product-thumbs-slider-wrapper">
                  <div class="product-thumbs-slider swiper">
                    <div class="swiper-wrapper">
                      <div class="product-thumbs-slide swiper-slide">
                        <div class="product ">
                          <picture class="product__pic">
                            <source type="image/png" srcset="images/product-card_img1.jpg" />
                            <img src="../../img/product-card_img1.jpg" />
                          </picture>
                        </div>
                      </div>
                      <div class="product-thumbs-slide swiper-slide">
                        <div class="product">
                          <picture class="product__pic">
                            <source type="image/jpg" srcset="images/product-card_img2.jpg" />
                            <img src="../../img/product-card_img2.jpg" />
                          </picture>
                        </div>
                      </div>
                      <div class="product-thumbs-slide swiper-slide">
                        <div class="product product--video">
                          <picture class="product__pic">
                            <source type="image/png" srcset="images/product-card_img1.jpg" />
                            <img src="../../img/product-card_img1.jpg" />
                          </picture>
                        </div>
                      </div>
                      <div class="product-thumbs-slide swiper-slide">
                        <div class="product">
                          <picture class="product__pic">
                            <source type="image/jpg" srcset="images/product-card_img2.jpg" />
                            <img src="../../img/product-card_img2.jpg" />
                          </picture>
                        </div>
                      </div>
                      <div class="product-thumbs-slide swiper-slide">
                        <div class="product">
                          <picture class="product__pic">
                            <source type="image/png" srcset="images/product-card_img1.jpg" />
                            <img src="../../img/product-card_img1.jpg" />
                          </picture>
                        </div>
                      </div>
                      <div class="product-thumbs-slide swiper-slide">
                        <div class="product">
                          <picture class="product__pic">
                            <source type="image/jpg" srcset="images/product-card_img2.jpg" />
                            <img src="../../img/product-card_img2.jpg" />
                          </picture>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- navigation -->
                  <div class="slider-navigation product-thumbs-slider-navigation">
                    <button class="button button-icon button-icon--prev" type="button">
                      <svg>
                        <use xlink:href="#icon-arrow-up"></use>
                      </svg>
                    </button>

                    <button class="button button-icon button-icon--next" type="button">
                      <svg>
                        <use xlink:href="#icon-arrow-up"></use>
                      </svg>
                    </button>
                  </div>
                  <!-- ./ End of navigation -->
                </div>
              </div>

              <div class="product-preview-wrap">
                <div class="product-preview-slider-wrapper">
                  <div class="product-preview-slider__container">
                    <div class="product-preview-slider__inner">
                      <div class="product-preview-slider swiper">
                        <div class="swiper-wrapper">
                          <div class="product-preview-slide swiper-slide">
                            <div class="product">
                              <picture class="product__pic">
                                <source type="image/jpg" srcset="images/product-card_img1.jpg" />
                                <img src="../../img/product-card_img1.jpg" class="j_blowup" />
                              </picture>
                            </div>
                          </div>
                          <div class="product-preview-slide swiper-slide">
                            <div class="product">
                              <picture class="product__pic">
                                <source type="image/jpg" srcset="images/product-card_img2.jpg" />
                                <img src="../../img/product-card_img2.jpg" class="j_blowup" />
                              </picture>
                            </div>
                          </div>
                          <div class="product-preview-slide swiper-slide">
                            <div class="product product--video">
                              <picture class="product__pic">
                                <source type="image/png" srcset="images/product-card_img1.jpg" />
                                <img src="../../img/product-card_img1.jpg" class="j_blowup" />
                              </picture>
                            </div>
                          </div>
                          <div class="product-preview-slide swiper-slide">
                            <div class="product">
                              <picture class="product__pic">
                                <source type="image/jpg" srcset="images/product-card_img2.jpg" />
                                <img src="../../img/product-card_img2.jpg" class="j_blowup" />
                              </picture>
                            </div>
                          </div>
                          <div class="product-preview-slide swiper-slide">
                            <div class="product">
                              <picture class="product__pic">
                                <source type="image/png" srcset="images/product-card_img1.jpg" />
                                <img src="../../img/product-card_img1.jpg" class="j_blowup" />
                              </picture>
                            </div>
                          </div>
                          <div class="product-preview-slide swiper-slide">
                            <div class="product">
                              <picture class="product__pic">
                                <source type="image/jpg" srcset="images/product-card_img2.jpg" />
                                <img src="../../img/product-card_img2.jpg" class="j_blowup" />
                              </picture>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="product-preview__header">
                        <div class="product-preview__tags">
                          <span class="product-preview__tag product-preview__tag--red">
                            -30%
                          </span>

                          <span class="product-preview__tag">
                            серия
                          </span>
                        </div>

                        <div class="product-preview__zoom">
                          <button class="button button-icon" type="button">
                            <svg class="svg">
                              <use xlink:href="#icon-search"></use>
                            </svg>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="modal-product__right">
            <div class="product-info-specs">
              <div class="product-info-specs__wrap">
                <h3 class="product-info-specs__title">
                  Спецификация
                </h3>

                <dl class="product-info-specs__list">
                  <div class="product-info-specs__item">
                    <dt class="product-info-specs__key">
                      Тираж
                    </dt>
                    <dd class="product-info-specs__value">
                      5 000 полных коллекций
                    </dd>
                  </div>
                  <div class="product-info-specs__item">
                    <dt class="product-info-specs__key">
                      Металл
                    </dt>
                    <dd class="product-info-specs__value">
                      серебро 999 пробы
                    </dd>
                  </div>
                  <div class="product-info-specs__item">
                    <dt class="product-info-specs__key">
                      Исполнение
                    </dt>
                    <dd class="product-info-specs__value">
                      зеркальная поверхность пруф-лайк цветная печать
                    </dd>
                  </div>
                  <div class="product-info-specs__item">
                    <dt class="product-info-specs__key">
                      Размер
                    </dt>
                    <dd class="product-info-specs__value">
                      60х40 мм
                    </dd>
                  </div>
                  <div class="product-info-specs__item">
                    <dt class="product-info-specs__key">
                      Сюжет
                    </dt>
                    <dd class="product-info-specs__value">
                      лик Матроны Московской
                    </dd>
                  </div>
                  <div class="product-info-specs__item">
                    <dt class="product-info-specs__key">
                      Специальная цена первой медали
                    </dt>
                    <dd class="product-info-specs__value">
                      1 245 р.
                    </dd>
                  </div>
                  <div class="product-info-specs__item">
                    <dt class="product-info-specs__key">
                      Обычная цена
                    </dt>
                    <dd class="product-info-specs__value">
                      2 490 р.
                    </dd>
                  </div>
                  <div class="product-info-specs__item">
                    <dt class="product-info-specs__key">
                      Изготовитель
                    </dt>
                    <dd class="product-info-specs__value">
                      по заказу ИМД
                    </dd>
                  </div>
                </dl>
              </div>
            </div>

            <div class="product__prices">
              <span class="product__price product__price--prev">
                <em>
                  2 990руб
                </em>

                Обычная цена
              </span>

              <span class="product__price">
                <em>
                  2 093 руб
                </em>

                Специальная цена первой медали!
              </span>
            </div>

            <a href="#" class="button button--black product__buy">
              добавить в корзину
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ./ End of modal-zoom -->
