.form-question {
  &__wrapper {
    padding: 80px;
    border-radius: 4px;
    background: $gray-extra-light;

    @include min-width($tablet) {
      display: flex;
      align-items: start;
    }
  }

  &__headline {
    width: 100%;
    margin-bottom: 50px;
    @include min-width($tablet) {
      max-width: 355px;
    }
  }

  &__title {
    margin: 0;
    font: 700 40px / 140% $garamond;

    span {
      color: #a87f45;
    }
  }

  &__fields {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: -40px;
  }

  &__field {
    position: relative;
    width: calc(50% - 25px);
    margin-bottom: 40px;

    &--full {
      width: 100%;
    }
  }

  &__input {
    width: 100%;
    padding-bottom: 20px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $gray-extra-dark;

    &:focus-visible {
      outline: none;
    }

    &:focus {
      border-bottom-color: #a87f45;

      & + .form-question__label {
        top: -20px;
        font-size: 16px;
        color: #a87f45;
      }
    }
  }

  &__label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 24px;
    line-height: 133%;
    color: $gray-light;
    @include trs();
  }

  &__textarea {
    width: 100%;
    height: 156px;
    box-sizing: border-box;
    padding: 24px 12px 10px 24px;
    border: 1px solid $gray-extra-dark;
    border-radius: 4px;
    background-color: transparent;
    @include placeholder {
      font-size: 24px;
      line-height: 133%;
      color: #bdbdbd;
    }

    &:focus::-webkit-input-placeholder {
      color: transparent;
    }
    &:focus:-moz-placeholder {
      color: transparent;
    }
    &:focus::-moz-placeholder {
      color: transparent;
    }
    &:focus:-ms-input-placeholder {
      color: transparent;
    }

    &:focus-visible {
      outline: none;
    }

    &:focus {
      border: 1px solid #a87f45;
    }
  }

  &__controls {
    display: flex;
    align-items: center;
    margin-top: 32px;
  }

  &__policy {
    margin-right: 18px;

    a {
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }

    input[type='checkbox'] {
      position: absolute;
      left: -888px;
      top: -888px;
      visibility: hidden;
      opacity: 0;
      pointer-events: none;

      & + label {
        position: relative;
        padding-left: 32px;
        font-size: 12px;
        line-height: 117%;

        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 20px;
          height: 20px;
          border: 1px solid #231f20;
          box-sizing: border-box;
          border-radius: 4px;
          background-color: $white;
        }

        &::after {
          content: '';
          position: absolute;
          top: 5px;
          left: 4px;
          width: 12px;
          height: 9px;
          background-image: url("data:image/svg+xml,%3Csvg width='12' height='9' viewBox='0 0 12 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.3346 1L4.0013 8.33333L0.667969 5' stroke='%23814724' stroke-width='1.33333' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
          opacity: 0;
          @include trs(opacity, 0.3s, ease);
        }
      }

      &:checked {
        & + label::after {
          opacity: 1;
        }
      }
    }
  }

  &__button {
    flex-shrink: 0;
    width: 100%;
    max-width: 325px;
  }

  @include max-width($tablet) {
    &__controls {
      display: block;
    }

    &__policy {
      margin: 20px 0 28px;
    }
  }

  @include max-width($phone) {
    background: $gray-extra-light;

    &__wrapper {
      padding: 40px 0;
      background-color: transparent;
    }

    &__headline {
      margin-bottom: 32px;
    }

    &__title {
      font-size: 28px;
      line-height: 114%;
    }

    &__fields {
      display: block;
      margin-bottom: -35px;
    }

    &__field {
      width: 100%;
      margin-bottom: 35px;
    }

    &__input {
      padding-bottom: 12px;
    }

    &__label {
      font-size: 16px;
      line-height: 125%;
    }

    &__textarea {
      width: 100%;
      height: 156px;
      box-sizing: border-box;
      padding: 12px 12px 10px;

      @include placeholder {
        font-size: 16px;
        line-height: 125%;
      }
    }

    &__controls {
      display: block;
      margin-top: 22px;
    }

    &__policy {
      margin: 55px 0 28px;
    }
  }
}
